---
import CardInfo from "@components/shared/Cards/CardInfo.astro";
---

<section class="course-target course-section section">
  <h2 class="section-title">
    Kurs davomida nimalarni <span class="title-highlight"> o‘rganasiz?</span>
  </h2>
  <div class="row !grid-cols-3">
    <div class="col-1">
      <CardInfo>
        <Fragment slot="title">Mijozga loyihani taqdim etish</Fragment>
        <Fragment slot="text">
          Loyiha oxirida mijozga ishni to‘g‘ri taqdim etish. To‘g‘ri portfelni
          shakllantirish
        </Fragment>
      </CardInfo>
    </div>
    <div class="col-1">
      <CardInfo>
        <Fragment slot="title">Interfeys dizayni</Fragment>
        <Fragment slot="text">
          Saytlar, mobil ilovalar va xizmatlarning vizual qismini loyihalash
        </Fragment>
      </CardInfo>
    </div>
    <div class="col-1">
      <CardInfo>
        <Fragment slot="title">Figma-da ishlash</Fragment>
        <Fragment slot="text">
          Figma dasturi yordamida turli murakkablikdagi dizaynlarni ishlab
          chiqishni o‘rganasiz
        </Fragment>
      </CardInfo>
    </div>
    <div class="col-1">
      <CardInfo>
        <Fragment slot="title">UX/UI tadqiqotlar</Fragment>
        <Fragment slot="text">
          UX/UI tadqiqotlarini o‘tqazib, eng optimal yechimlarga ega dizayn
          tizishni o‘rganasiz
        </Fragment>
      </CardInfo>
    </div>
    <div class="col-1">
      <CardInfo>
        <Fragment slot="title">Loyihani tushunish va o'rganish</Fragment>
        <Fragment slot="text">
          Mijoz tomonidan qo‘yilgan vazifalarni to‘liq tushunish va muammolarni
          hal qilish
        </Fragment>
      </CardInfo>
    </div>
    <div class="col-1">
      <CardInfo>
        <Fragment slot="title">Talablarni o‘rganish</Fragment>
        <Fragment slot="text">
          Qanday qilib mahsulotni xaridor uchun qimmatli qilishni bilib olisiz
        </Fragment>
      </CardInfo>
    </div>
  </div>
</section>
