---
import CourseAccordion from "@components/blocks/CourseAccordion.astro";
---

<section class="section course-section">
  <h2 class="section-title">
    Kurs <span class="title-highlight">o‘quv dasturi</span> bilan tanishib
    chiqing
  </h2>
  <CourseAccordion />
</section>
