---
import CardInfo from "@components/shared/Cards/CardInfo.astro";
---

<section class="course-target course-section section">
  <h2 class="section-title">
    Kurs <span class="title-highlight">kimlar uchun</span> to‘g‘ri keladi?
  </h2>
  <div class="row">
    <div class="col-2">
      <CardInfo>
        <Fragment slot="title">Endi boshlamoqchi bo‘lganlar uchun</Fragment>
        <Fragment slot="text">
          UX/UI sohasini endi boshlagan yoki qaysi yo‘nalishida ketishni bilmay
          turganlar uchun
        </Fragment>
      </CardInfo>
    </div>
    <div class="col-2">
      <CardInfo>
        <Fragment slot="title">Maktab o‘quvchilari uchun</Fragment>
        <Fragment slot="text">
          Maktab o‘quvchilari umumiy intellektual rivojlanish va IT sohasida
          zamonaviy ko’nikmalarga ega bo’lish uchun
        </Fragment>
      </CardInfo>
    </div>
    <div class="col-2">
      <CardInfo>
        <Fragment slot="title">Kelajakdagi dizaynerlar uchun</Fragment>
        <Fragment slot="text">
          Kompyuterdan qanday foydalanishni bilmaydigan, ammo UX/UI dizayner
          boshlashni istaganlar uchun
        </Fragment>
      </CardInfo>
    </div>
    <div class="col-2">
      <CardInfo>
        <Fragment slot="title">Yosh ijodkorlar uchun</Fragment>
        <Fragment slot="text">
          Dizayn sohani endi boshlaganlarni ko’p qiladigan xatolaridan qochishni
          istaganlar uchun
        </Fragment>
      </CardInfo>
    </div>
    <div class="col-2">
      <CardInfo>
        <Fragment slot="title">Boshlang‘ich bilimga ega bo’lganlarga</Fragment>
        <Fragment slot="text">
          Boshlang‘ich bilimlarga ega bo‘lgan va sohadagi bilimlarini
          kengaytirmoqchi bo’lganlar uchun
        </Fragment>
      </CardInfo>
    </div>
    <div class="col-2">
      <CardInfo>
        <Fragment slot="title">Kuchli sabrga ega insonlar uchun</Fragment>
        <Fragment slot="text">
          Har qanday muammoli vaziyatga sabrli boʻlsangiz, nafaqat IT sohada
          balki har qanday yoʻllanishda muvaffaqiyatga erishingiz mumkin
        </Fragment>
      </CardInfo>
    </div>
  </div>
</section>
