---
import SharedFAQ from "@components/sections/SharedFAQ.astro";
---

<SharedFAQ>
  <h2 class="h2" slot="title">
    Kursga oid ko‘p <br />
    <span class="text-primary">beriladigan savollar</span>
  </h2>
</SharedFAQ>
