---

---

<div class="card card--stat">
  <div class="card__body">
    <h4 class="card__title">
      <slot name="title" />
    </h4>
    <p class="card__text">
      <slot name="text" />
    </p>
  </div>
</div>
