---

---

<div class="card card--course-online">
  <div class="card__body">
    <div class="card__subtitle">
      <slot name="subtitle" />
    </div>
    <a href="#!" class="card__title card__link">
      <slot name="title" />
    </a>
    <div class="card__info">
      <slot name="info" />
    </div>
  </div>
</div>
