---

---

<article class="card card--search">
  <div class="card__body">
    <div class="card__subtitle">
      <slot name="subtitle" />
    </div>
    <h1 class="card__title">
      <a href="#!" class="card__link"> <slot name="title" /></a>
    </h1>
    <p class="card__text">
      <slot name="text" />
    </p>
  </div>
</article>
