---

---

<div class="card card--path">
  <div class="card__body">
    <div class="card__path">
      <slot name="direction" />
    </div>
    <h4 class="card__title">
      <slot name="title" />
    </h4>
  </div>
</div>
