---

---

<article class="card card--search-v2">
  <div class="card__body">
    <div class="card-meta card-meta--date">
      <slot name="date" />
    </div>
    <h1 class="card__title">
      <a href="#!" class="card__link"> <slot name="title" /></a>
    </h1>
    <p class="card__text">
      <slot name="text" />
    </p>
  </div>
</article>
