---

---

<div class="card card--info">
  <div class="card__body">
    <div class="card__icon">
      <svg class="icon">
        <use xlink:href="#icon-double-check"></use>
      </svg>
    </div>
    <h4 class="card__title">
      <slot name="title" />
    </h4>
    <p class="card__text">
      <slot name="text" />
    </p>
  </div>
</div>
