---
import LayoutLogin from "@/layouts/LayoutLogin.astro";
import Brand from "@components/shared/Brand.astro";
import Button from "@components/shared/Button.astro";
import Input from "@components/shared/Input.astro";
import InputCheck from "@components/shared/InputCheck.astro";
---

<LayoutLogin title="Login">
  <div class="login-form-wrapper">
    <Brand />
    <div class="login-form-wrapper__inner">
      <div class="login-form-wrapper__block">
        <div class="block-card">
          <div class="login-form">
            <div class="login-form__header">
              <div class="flex flex-col gap-y-5">
                <h1 class="login-form__title">Raqamni tasdiqlash</h1>
                <p class="login-form__subtitle">
                  SMS quyidagi raqamga yuborilgan: +998 90 120 01 10
                </p>
              </div>
              <div id="countdown"></div>
            </div>
            <form class="login-form__form">
              <Input
                placeholder="Tasdiqlash kodi"
                type="text"
                addonBefore="lock-open"
              />
            </form>
            <a href="#!" class="text-primary underline">Kodni qayta jo‘natish</a
            >
            <a
              role="link"
              href="/login/forget-password"
              class="btn btn-primary btn-center">Ro‘yxatdan o‘tish</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</LayoutLogin>
