---
import Button from "./Button.astro";
---

<div class="slides-wrapper about-hero-slider">
  <div class="slide-stage swiper-wrapper">
    <div class="slide swiper-slide">
      <img
        src="https://www.usnews.com/object/image/00000148-6c00-d45e-ad5e-ed50c48f0000/140912-stock.jpg?update-time=1410561385971&size=responsive640"
        alt=""
        class="slide-img"
      />
      <div class="slide-overlay">
        <Button form="btn-circle">
          <svg class="icon">
            <use xlink:href="#icon-play-fill"></use>
          </svg>
        </Button>
        <div class="slide-caption">
          <div class="slide-caption__title">Akbar Yusupov</div>
          <div class="slide-caption__content">
            Saytdagi darslar haqida o‘z fikrini va boshqalarga tavsiyasini
            qoldirdi
          </div>
        </div>
      </div>
    </div>
    <div class="slide swiper-slide">
      <img
        src="https://www.american.edu/sis/CommunityofScholars/images/students-CoS-mobile.jpg"
        alt=""
        class="slide-img"
      />
      <div class="slide-overlay">
        <Button form="btn-circle">
          <svg class="icon">
            <use xlink:href="#icon-play-fill"></use>
          </svg>
        </Button>
        <div class="slide-caption">
          <div class="slide-caption__title">Akbar Yusupov</div>
          <div class="slide-caption__content">
            Saytdagi darslar haqida o‘z fikrini va boshqalarga tavsiyasini
            qoldirdi
          </div>
        </div>
      </div>
    </div>
    <div class="slide swiper-slide">
      <img
        src="https://www.timeshighereducation.com/sites/default/files/styles/the_breaking_news_image_style/public/kansas.jpg?itok=DcrQzRNl"
        alt=""
        class="slide-img"
      />
      <div class="slide-overlay">
        <Button form="btn-circle">
          <svg class="icon">
            <use xlink:href="#icon-play-fill"></use>
          </svg>
        </Button>
        <div class="slide-caption">
          <div class="slide-caption__title">Akbar Yusupov</div>
          <div class="slide-caption__content">
            Saytdagi darslar haqida o‘z fikrini va boshqalarga tavsiyasini
            qoldirdi
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="slide-button-next"></button>
  <button class="slide-button-prev"></button>
  <div class="slidee-pagination"></div>
</div>
