---
const { border, xcls, sm, disabled } = Astro.props;
---

<span
  class="badge"
  class:list={[
    border && "badge--border",
    sm && "badge--sm",
    disabled && "disabled",
    xcls,
  ]}>
  <slot />
</span>
