<a href="#" class="nav__brand logo">
  <svg
    id="icon-logotype"
    viewBox="0 0 114 30"
    width="114"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_731_2343)">
      <path
        d="M97.6699 25.8364L109.538 9.98116H114L102.131 25.8364H97.6699ZM97.6699 27.897V25.8364L101.037 24.4485H113.747V27.897H97.6699ZM98.3855 11.369V7.92041H114V9.98116L110.506 11.369H98.3855Z"
        fill="#1E1E1E"></path>
      <path
        d="M87.3262 28.3178C85.3622 28.3178 83.5946 27.8552 82.0233 26.9299C80.452 26.0046 79.2034 24.757 78.2776 23.1869C77.3516 21.5888 76.8887 19.8084 76.8887 17.8458C76.8887 15.9113 77.3516 14.1729 78.2776 12.6309C79.2034 11.0607 80.452 9.81308 82.0233 8.88785C83.5946 7.96262 85.3622 7.5 87.3262 7.5C89.2622 7.5 91.0159 7.96262 92.5871 8.88785C94.1864 9.78504 95.449 11.0187 96.3749 12.5888C97.3008 14.1589 97.7637 15.9113 97.7637 17.8458C97.7637 19.8084 97.3008 21.5888 96.3749 23.1869C95.449 24.757 94.1864 26.0046 92.5871 26.9299C91.0159 27.8552 89.2622 28.3178 87.3262 28.3178ZM87.3262 24.6589C88.5889 24.6589 89.7112 24.3644 90.6932 23.7758C91.6752 23.1869 92.4468 22.3879 93.008 21.3785C93.5692 20.3411 93.8497 19.1636 93.8497 17.8458C93.8497 16.556 93.5551 15.4066 92.9659 14.3972C92.4047 13.3879 91.6331 12.6028 90.6511 12.0421C89.6971 11.4533 88.5889 11.1589 87.3262 11.1589C86.0637 11.1589 84.9413 11.4533 83.9593 12.0421C82.9772 12.6028 82.2057 13.3879 81.6444 14.3972C81.0833 15.4066 80.8028 16.556 80.8028 17.8458C80.8028 19.1636 81.0833 20.3411 81.6444 21.3785C82.2057 22.3879 82.9772 23.1869 83.9593 23.7758C84.9413 24.3644 86.0637 24.6589 87.3262 24.6589Z"
        fill="#1E1E1E"></path>
      <path
        d="M68.6297 8.20537H75.2503V11.3657H68.6297V19.6877C68.6297 20.7412 68.7111 21.619 68.874 22.3213C69.0369 22.9966 69.2813 23.5368 69.6072 23.942C69.933 24.3201 70.3402 24.5902 70.829 24.7523C71.3177 24.9143 71.888 24.9954 72.5396 24.9954C73.6801 24.9954 74.5897 24.8738 75.2685 24.6307C75.9744 24.3606 76.4632 24.1716 76.7348 24.0635L77.4678 27.1832C77.0877 27.3723 76.4224 27.602 75.4721 27.8721C74.5217 28.1692 73.4357 28.3177 72.2138 28.3177C70.7746 28.3177 69.58 28.1422 68.6297 27.791C67.7065 27.4128 66.9597 26.8591 66.3895 26.1299C65.8193 25.4005 65.412 24.5092 65.1676 23.4557C64.9504 22.3753 64.8418 21.1328 64.8418 19.7282V2.80371L68.6297 4.20559V8.20537Z"
        fill="#1E1E1E"></path>
      <path
        d="M55.6374 28.3178C54.5151 28.3178 53.4489 28.1776 52.4388 27.8972C51.4567 27.5887 50.5448 27.1682 49.7032 26.6356C48.8614 26.0748 48.1319 25.4159 47.5146 24.6589L49.9557 22.2197C50.6852 23.1168 51.5269 23.7897 52.4809 24.2383C53.4348 24.6589 54.501 24.8691 55.6794 24.8691C56.8579 24.8691 57.7698 24.6729 58.4151 24.2803C59.0604 23.8599 59.3831 23.285 59.3831 22.556C59.3831 21.8271 59.1165 21.2664 58.5835 20.8738C58.0784 20.4533 57.419 20.1168 56.6054 19.8644C55.7917 19.5841 54.9219 19.3178 53.996 19.0654C53.0981 18.785 52.2424 18.4346 51.4286 18.014C50.6151 17.5934 49.9417 17.0187 49.4085 16.2897C48.9034 15.5607 48.651 14.5934 48.651 13.3879C48.651 12.1823 48.9456 11.1449 49.5348 10.2757C50.1241 9.37851 50.9377 8.69159 51.9758 8.21496C53.042 7.73832 54.3186 7.5 55.8057 7.5C57.377 7.5 58.7659 7.78037 59.9723 8.34112C61.2069 8.87383 62.2169 9.68692 63.0026 10.7804L60.5616 13.2197C60.0004 12.4907 59.2989 11.9299 58.4573 11.5374C57.6436 11.1449 56.7176 10.9486 55.6794 10.9486C54.5852 10.9486 53.7435 11.1449 53.1542 11.5374C52.5931 11.9019 52.3125 12.4205 52.3125 13.0934C52.3125 13.7664 52.5651 14.285 53.07 14.6495C53.5751 15.014 54.2345 15.3224 55.0481 15.5748C55.8899 15.8271 56.7597 16.0934 57.6575 16.3738C58.5554 16.6262 59.4112 16.9766 60.2249 17.4252C61.0385 17.8738 61.6979 18.4766 62.203 19.2336C62.736 19.9907 63.0026 20.986 63.0026 22.2197C63.0026 24.0981 62.3292 25.5841 60.9825 26.6776C59.6637 27.7711 57.8821 28.3178 55.6374 28.3178Z"
        fill="#1E1E1E"></path>
      <path
        d="M37.7243 28.3176C36.0969 28.3176 34.6239 27.9531 33.3051 27.2242C32.0145 26.4672 31.0044 25.4297 30.2749 24.112C29.5454 22.7942 29.1807 21.2662 29.1807 19.5279V7.92041H32.9684V19.3597C32.9684 20.4531 33.1508 21.4064 33.5156 22.2195C33.9084 23.0046 34.4696 23.6074 35.1991 24.0279C35.9286 24.4485 36.7844 24.6587 37.7664 24.6587C39.2534 24.6587 40.4178 24.1962 41.2596 23.2709C42.1014 22.3176 42.5222 21.0139 42.5222 19.3597V7.92041H46.31V19.5279C46.31 21.2662 45.9452 22.7942 45.2157 24.112C44.4862 25.4297 43.4762 26.4672 42.1854 27.2242C40.9229 27.9531 39.4358 28.3176 37.7243 28.3176Z"
        fill="#1E1E1E"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M11.7843 30C18.2927 30 23.5687 24.7069 23.5687 18.1773V6.35468L7.80712 0L7.80712 9.21936L0 6.35469V18.1774C0 24.7069 5.27603 30 11.7843 30ZM7.80712 9.21936L15.9088 12.1921V17.6601C15.9088 19.9047 14.0952 21.7242 11.858 21.7242C9.62074 21.7242 7.80712 19.9047 7.80712 17.6601V9.21936Z"
        fill="#8024FF"></path>
    </g>
    <defs>
      <clipPath id="clip0_731_2343">
        <rect width="114" height="30" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
</a>
