---
const { style, form, classes, disabled, justify, id, attrs, dropdown } =
  Astro.props;
---

<button
  class:list={[
    "btn",
    style ? `btn-${style}` : "",
    justify ? `btn-${justify}` : "",
    form ? form : "",
    classes,
  ]}
  {...id && { id: id }}
  {...attrs && attrs}
  disabled={disabled}>
  <slot />
</button>
