---
const { type, id, name } = Astro.props;
---

<div class="custom-control custom-control--checkbox">
  <input type={type} class="hidden peer" id={id} name={name} />
  <label
    for={id}
    class:list={[
      "group text-base px-4 py-2 border border-secondary-gray rounded-full text-secondary-gray peer-checked:bg-main-black peer-checked:text-white peer-checked:border-main-black flex items-center cursor-pointer",
      type === "radio" ? "peer-checked:pl-2" : "peer-checked:pr-2",
    ]}>
    <slot />
    <span
      class:list={[
        "hidden check-icon items-center",
        type === "radio" ? "order-first mr-1" : "ml-1",
      ]}>
      <svg class="icon !w-[1.125rem]">
        <use
          xlink:href={type === "radio" ? "#icon-check" : "#icon-remove-close"}
        ></use>
      </svg>
    </span>
  </label>
</div>
