---
const { type, id, name } = Astro.props;
---

<div class="custom-control custom-control--checkbox">
  <input type={type} class="hidden peer" id={id} name={name} />
  <label
    for={id}
    class:list={[
      "custom-control__label group peer-checked:bg-main-black peer-checked:text-white peer-checked:border-main-black peer-checked:pr-6 pr-4 text-secondary-gray border-secondary-gray",
    ]}>
    <slot />
    <span
      class:list={[
        "hidden check-icon items-center",
        type === "radio" ? "order-first mr-1" : "ml-1",
      ]}>
      <svg class="icon !w-[1.125rem]">
        <use xlink:href={type === "radio" ? "#icon-check" : "#icon-close"}
        ></use>
      </svg>
    </span>
  </label>
</div>
