---
const { icon, direction, noSubtitle, mode } = Astro.props;
---

<div class="feature-card" class:list={[mode && `feature-card--${mode}`]}>
  {
    icon && (
      <svg class="icon text-primary mb-60" class:list={[!mode && "!w-12"]}>
        <use xlink:href={`#${icon}`} />
      </svg>
    )
  }
  {
    direction && (
      <div class="card__direction">
        <slot name="direction" />
      </div>
    )
  }
  <div class="card__title" class:list={[noSubtitle && "!mb-0"]}>
    <slot name="title" />
  </div>
  {
    !noSubtitle && (
      <div class="card__subtitle">
        <slot name="text" />
      </div>
    )
  }
</div>
