---
const { type, active } = Astro.props;
---

<a href="#!" class:list={["pagination__item", active && "active"]}>
  {
    type === "prev" ? (
      <i class="ti ti-chevron-left" />
    ) : type === "next" ? (
      <i class="ti ti-chevron-right" />
    ) : (
      <slot />
    )
  }
</a>
