---

---

<div class="bg-background border border-line rounded p-20">
  <div class="h2 mb-30">
    <slot name="title" />
  </div>
  <div class="text-body-3 text-text-gray">
    <slot name="text" />
  </div>
</div>
