---
import LayoutLesson from "@/layouts/LayoutLesson.astro";
import CardAdmin from "@components/shared/Cards/CardProfile.astro";
import LessonNav from "@components/blocks/LessonNav.astro";
import Button from "@components/shared/Button.astro";
import Tab from "@components/shared/Tab/Tab.astro";
import TabHeader from "@components/shared/Tab/TabHeader.astro";
import TabButton from "@components/shared/Tab/TabButton.astro";
import TabContent from "@components/shared/Tab/TabContent.astro";
import TabPane from "@components/shared/Tab/TabPane.astro";
---

<LayoutLesson title="Lesson">
  <div class="grid gap-20 grid-cols-3">
    <div class="col-md-3">
      <LessonNav />
    </div>
    <div class="col-md-6">
      <CardAdmin>
        <div class="lesson-content">
          <h1 class="lesson-content__title">
            1.2 - UI dizaynda tipografik qoidalar
          </h1>
          <div class="lesson-content__nav">
            <Button style="secondary">
              <svg class="icon">
                <use xlink:href=`#icon-arrow-left`></use>
              </svg>
               AVVALGI
            </Button>
            <Button style="secondary">
              KEYINGI<svg class="icon">
                <use xlink:href=`#icon-arrow-right`></use>
              </svg>
            </Button>
          </div>
          <Tab>
            <TabHeader
              slot="header"
              id="lesson-tab"
              contentId="lessonTabContent">
              <TabButton
                id="lesson-tab-description"
                target="lesson-description">
                MA’LUMOTLAR
              </TabButton>
              <TabButton id="lesson-tab-resources" target="lesson-resources">
                MA’LUMOTLAR
              </TabButton>
            </TabHeader>
            <TabContent slot="content" id="lessonTabContent">
              <TabPane id="lesson-description" target="lesson-tab-description">
                <article class="lesson-content__text-view">
                  <h2>Tipografik qoidalar haqida</h2>
                  <p>
                    UI dizaynining sxemasida har bir element muhim hisoblanadi
                    ammo uni takomillashtirishning eng yaxshi usullaridan biri
                    bu-Tipografiyadir. Shunga qaramay, tipografiyani UI
                    dizaynining eng qiyin qismi deb o'ylashadi. Shunday qilib,
                    UI dizaynini samarali qilish uchun siz tipografiya fanining
                    asoslarini o'rganishingiz kerak. Ammo, baribir UI dizaynida
                    tipografiyani to'g'ri ishlatish usullarini bilmaydigan
                    ko'plab veb-ustalar va dizaynerlar mavjud. Agar siz dizayner
                    bo'lsangiz, matn bilan ishlashda katta imkoniyatga ega
                    bo'lasiz va unga shunchaki mazmun sifatida emas, balki UI
                    dizaynining asosiy xususiyati sifatida qarashingiz kerak.Web
                    dizaynda 95% tipografiya mavjud bo'lib, siz yozuv maydonidan
                    yuqoriga ko'tarilishingiz kerak.
                  </p>
                  <p>
                    Agar siz UI dizayni uchun tipografiyangizni
                    optimallashtirishni xohlasangiz, grafikaning o'qilishi,
                    hisobliligi va grafik muvozanatni o'ylab ko'rishingiz kerak,
                    ammo foydalanish qulayligi tipografiyaning shubhasiz eng
                    muhim jihatdir.
                  </p>
                  <p>
                    Vikipediyaga ko'ra, bu yozma tilni foydalanuvchi uchun
                    jozibali, o'qilishi oson va namoyish etilganda tushunarli
                    qilish uchun tashkil etish usuli va uslublari yig'indisidir.
                    Tipografiya turlarini tizimlashtirishga piksel o'lchamlarini
                    tanlash, shrift oralig'i, chiziq oralig'i, chiziq uzunligi,
                    harflar oralig'i va harf juftlari orasidagi bo'shliqni
                    o'zgartirish kiradi. "Tipografiya" atamasi protsedura
                    tomonidan ishlab chiqariladigan belgilar, raqamlar va
                    harflarning tashkil etilishi, uslubi va tashqi ko'rinishiga
                    nisbatan ham qo'llaniladi. Xulosa qilib aytganda,
                    tipografiya - bu ekrandagi yozma til bilan bog'liq bo'lgan
                    narsalar va dizaynerning taktikasi hamda badiiy mahoratiga
                    muhtoj jarayondir.
                  </p>
                  <p>
                    Agar siz mukammal UI dizaynini yaratmoqchi bo'lsangiz,
                    o'zingiz avvalo o'z tipografiyangizni mukammal o'zlashtirgan
                    holda ishlab chiqishingiz kerak bo'ladi. Blogning ushbu
                    qismida biz UI dizaynidagi tipografiya uslubini
                    rivojlantirishga yordam beradigan ba'zi ko'rsatmalar haqida
                    ma'lumot bermoqchimiz.
                  </p>
                  <h3>1. To'liq yozma xat shakllari</h3>
                  <p>
                    Ko'plab harflar bir xil ko'rinishga ega bo'lib, bir biridan
                    deyarli farq qilmaydi. Bu esa interfeys matnini o'qishni
                    chindan ham qiyinlashtirishi mumkin. Harflar bilan bir
                    qatorda, berilgan topshiriq uchun shriftlarning turli
                    atributlariga nisbatan raqamlar ba'zan e'tiborga olinmaydi.
                  </p>
                  <h3>2. Matn stillari</h3>
                  <p>
                    Iloji bo'lsa, ichki matn uslublaridan foydalaning, chunki
                    ular mutlaq ravshanlikni saqlagan holda vizual ravishda farq
                    qiladigan usulda kontekstni namoyish qilishga yordam
                    beradi.Ushbu uslublar tizim shriftlariga bog'liq va har bir
                    shrift hajmini avtomatik ravishda o'zgartiradigan Dynamic
                    Type kabi asosiy tipografik xususiyatlardan foyda olishga
                    yordam beradi.
                  </p>
                  <h3>3. Prototiplash</h3>
                  <p>
                    Barcha turdagi dizaynlar bilan bir qatorda, tipografiya ham
                    prototip dizaynida muhim ahamiyatga ega. Ajablanarli tomoni
                    shundaki, mobil tipografiyasida har bir UI elementi bilan
                    birgalikda samarali va toza mobil UI tomon harakat qilishi
                    mumkin; ammo, mobil prototip dizaynida, matn mazmunli
                    bo'lishni talab qilmaydi. Masalan, prototiplashning eng
                    yaxshi vositalaridan biri bo'lgan Mockplusda siz matnni
                    tarkibiy qismidan tortib chiqarish orqali loyihalash uchun
                    foydalanishingiz mumkin. Mockplus ikkala satrli va ko'p
                    satrli matn elementlaridan iborat. Shrift, shrift o'lchami,
                    rang va hokazo kabi matnning xususiyatlarini tavsiflab
                    berishingiz mumkin, bundan tashqari, matnni avtomatik
                    to'ldirish funksiyasi sizga ko'p vaqtni tejashga yordam
                    beradi. Bundan tashqari, siz uning haqiqiy o'qish
                    qobiliyatini tekshirish uchun haqiqiy mobil qurilmada
                    dizaynni o'rganishingiz mumkin bo'ladi.
                  </p>
                  <h3>4. Hajm juda muhim</h3>
                  <p>
                    Odatda, ko'plab dizaynerlarning ishida hajmi bo'yicha farq
                    qiladigan matn tarkibiy qismlarini o'z ichiga olganligi
                    kuzatiladi; masalan, tugma nusxasi, maydon yorliqlari,
                    bo'lim sarlavhalari va boshqalar. Ba'zi shriftlar katta
                    o'lchamlarga juda mos keladi, boshqalari esa kichik
                    o'lchamlarda yoki harf shaklida ishlaganda mukammal
                    ko'rinadi. Shunday qilib, siz katta sarlavhalar va kichik
                    yorliqlarga murojaat qilishingiz kerak bo'lgan harflar
                    mavjud bo'lsa, matnning miqyosi haqida o'ylashingiz kerak
                    bo'ladi. Agar siz o'ziga xos tarzda paydo bo'ladigan yozuv
                    shriftini tanlasangiz, har xil o'lchamlarga mos keladigan va
                    o'qish qobiliyatliligi va qulayligini oshiradigan narsalar
                    to'g'risida o'ylab ko'ring.
                  </p>
                  <h3>5. Harflar oralig'i</h3>
                  <p>
                    Harflar oralig'ini belgilayotganda, siz bo'shliqni
                    moslashtirishingiz, agar matn kattaroq bo'lsa, matn hajmiga
                    nisbatan kichikroq qilishingiz kerak.
                  </p>
                  <h3>Xulosa</h3>
                  <p>
                    Maqsaddan qat'iy nazar, tipografiya har doim UIni
                    boshqaradi. Agar siz uni to'g'ri sozlasangiz, sizning
                    matningiz o'zlashtiriladi va agar siz uni noto'g'ri
                    qo'ysangiz muvaffaqiyatsiz bo'ladi. UI dizaynining barcha
                    amaliyotlari siz tanlagan shrift uchun amal qiladi.
                    Muvaffaqiyatli UI dizayni mukammal tipografiya bilan
                    ta'minlangan. Shunday qilib, moslashuvchanligi va kengayish
                    qobiliyati yuqori bo'lgan matn sizning dizayningiz bilan
                    suyuqlik to'qnashuvini boshqarishi mumkin. Yuqorida
                    keltirilgan maslahatlarga rioya qiling va agar siz
                    o'zingizni bozorda o'z ilovangizni namoyon qilmoqchi
                    bo'lsangiz va malakali UI dizayneri sifatida poygada g'olib
                    bo'lishni istasangiz, ulardan foydalaning.
                  </p>
                </article>
              </TabPane>
              <TabPane id="lesson-resources" target="lesson-tab-resources">
                <div class="lesson-icon-card">
                  <div class="lesson-icon-card__item">
                    <div class="lesson-icon-card__icon">
                      <svg class="icon">
                        <use xlink:href=`#icon-note-pin`></use>
                      </svg>
                    </div>
                    <div class="lesson-icon-card__body">
                      <span class="title">
                        Darslarda ishlatilgan resruslarni yuklab oling!
                      </span>
                      <Button
                        style="interactive"
                        form="btn-circle"
                        classes="!p-10">
                        <svg class="icon !w-6">
                          <use xlink:href=`#icon-download`></use>
                        </svg>
                      </Button>
                    </div>
                  </div>
                  <div class="lesson-icon-card__item">
                    <div class="lesson-icon-card__icon">
                      <svg class="icon">
                        <use xlink:href=`#icon-telegram`></use>
                      </svg>
                    </div>
                    <div class="lesson-icon-card__body">
                      <span class="title">
                        Kursning maxsus Telegram guruhga qo‘shiling!
                      </span>
                      <Button
                        style="interactive"
                        form="btn-circle"
                        classes="!p-10">
                        <svg class="icon !w-6">
                          <use xlink:href=`#icon-link`></use>
                        </svg>
                      </Button>
                    </div>
                  </div>
                </div>
              </TabPane>
            </TabContent>
          </Tab>
        </div>
        <div class="lesson-content__complete">
          <Button style="primary">
            <svg class="icon !w-20">
              <use xlink:href=`#icon-circle-check`></use>
            </svg>mavzuni o‘zlashtirdim
          </Button>
        </div>
      </CardAdmin>
    </div>
  </div>
</LayoutLesson>
