---
import Card from "@components/shared/Card.astro";
---

<div class="row search-results-list">
  <div class="col-2">
    <Card bodyUp>
      <Fragment slot="subtitle">23-04-23</Fragment>
      <Fragment slot="title">
        <span class="text-highlight">Talabalar</span> yotoqxonasiga pul
        to‘lashda kimlarga imtiyoz berilishi mumkin?
      </Fragment>
      <Fragment slot="text">
        Kunduzgi taʼlim shakliga qabul qilingan <span class="text-highlight"
          >talabalar</span
        > xonadonida turganda ularga ham ijara summasining bir qismi to‘lab
        beriladi.
      </Fragment>
    </Card>
  </div>
  <div class="col-2">
    <Card bodyUp>
      <Fragment slot="subtitle">21-06-23</Fragment>
      <Fragment slot="title">
        1-kurslarga shartnomasiz ham 2 oylik ijara to‘lab beriladi
      </Fragment>
      <Fragment slot="text">
        Kunduzgi taʼlim shakliga qabul qilingan <span class="text-highlight"
          >talabalar</span
        > ijara xonadonida turganda ularga ham ijara summasining bir qismi
        to‘lab beriladi. Bunda 1-bosqich
      </Fragment>
    </Card>
  </div>
  <div class="col-2">
    <Card bodyUp>
      <Fragment slot="subtitle">13-04-23</Fragment>
      <Fragment slot="title">
        Sibirda O‘zbekistonlik <span class="text-highlight">talabalar</span>lar
        soni ortib boryabdi
      </Fragment>
      <Fragment slot="text">
        Sibir hududi yetakchi universitetlari <span class="text-highlight"
          >talabalar</span
        > ichida chet elliklar ko‘paydi. Bir qator universitetlar Qozog‘iston
        yoshlari uchun jozibadorlikni yo‘qotdi. Ammo Turkmaniston, O‘zbekiston
        ortib bormoqda. Shu bilan birga, Sibir oliy o‘quv yurtlari Xitoydan
      </Fragment>
    </Card>
  </div>
  <div class="col-2">
    <Card bodyUp>
      <Fragment slot="subtitle">30-04-23</Fragment>
      <Fragment slot="title">
        Konraktining 50 foizi toʻlab beriladi: imtiyozdan foydalanish haqida 5
        ta muhim maʼlumot
      </Fragment>
      <Fragment slot="text">
        <span class="text-highlight">Talabalar</span>ning kontarkt summasi 40
        mln soʻm, uning kontrakti yarmi 20 mln ... qismi qoplab beriladi, yaʼni
        16 mln 500 ming soʻmgacha.
      </Fragment>
    </Card>
  </div>

  <div class="col-2">
    <Card bodyUp>
      <Fragment slot="subtitle">09-04-23</Fragment>
      <Fragment slot="title">
        Nodavlat oliygoh tugatilsa <span class="text-highlight">talabalar</span>
         taqdiri nima bo‘ladi?
      </Fragment>
      <Fragment slot="text">
        Oliygoh tugatilsa <span class="text-highlight">talabalar</span>
         taqdiri nima bo‘ladi? Nodavlat oliygoh yopilib ketsa ham muammo emas –
        agarda nodavlat oliygohning litsenziyasi to‘xtatilsa, hukumat emas –
        agarda nodavlat oliygohning litsenziyasi to‘xtatilsa, hukumat
      </Fragment>
    </Card>
  </div>

  <div class="col-2">
    <Card bodyUp>
      <Fragment slot="subtitle">06-04-23</Fragment>
      <Fragment slot="title">
        13,5 ming abituriyent qo‘shimcha qabul doirasida <span
          class="text-highlight">talaba</span
        >
         likka tavsiya etildi?
      </Fragment>
      <Fragment slot="text">
        <span class="text-highlight">Talabalar</span>
         likka tavsiya etilgan abituriyentlarning: 180 ming nafarga yaqini —
        umumiy qabul parametrlari doirasida; 13,5 ming nafarga yaqini —
        imtiyozga
      </Fragment>
    </Card>
  </div>
</div>
