---
import CardSearchV2 from "@components/shared/Cards/CardSearchV2.astro";
---

<div class="search-results-list search-results-list-v2">
  <!-- <div class="col-md-6"> -->
  <CardSearchV2>
    <Fragment slot="date"> 23-04-23 </Fragment>
    <Fragment slot="title">
      <span class="search-highlight"
        ><span class="search-highlight">Talaba</span></span
      >lar yotoqxonasiga pul to‘lashda kimlarga imtiyoz berilishi mumkin?
    </Fragment>
    <Fragment slot="text">
      Kunduzgi taʼlim shakliga qabul qilingan <span class="search-highlight"
        >talaba</span
      >lar ijara xonadonida turganda ularga ham ijara summasining bir qismi
      to‘lab beriladi.
    </Fragment>
  </CardSearchV2>
  <CardSearchV2>
    <Fragment slot="date"> 21-06-23 </Fragment>
    <Fragment slot="title">
      1-kurslarga shartnomasiz ham 2 oylik ijara to‘lab beriladi
    </Fragment>
    <Fragment slot="text">
      Kunduzgi taʼlim shakliga qabul qilingan <span class="search-highlight"
        >talaba</span
      >lar ijara xonadonida turganda ularga ham ijara summasining bir qismi
      to‘lab beriladi. Bunda 1-bosqich
    </Fragment>
  </CardSearchV2>
  <CardSearchV2>
    <Fragment slot="date"> 13-04-23 </Fragment>
    <Fragment slot="title">
      Sibirda O‘zbekistonlik <span class="search-highlight">talaba</span>lar
      soni ortib boryabdi
    </Fragment>
    <Fragment slot="text">
      Sibir hududi yetakchi universitetlari <span class="search-highlight"
        >talaba</span
      >lari ichida chet elliklar ko‘paydi. Bir qator universitetlar Qozog‘iston
      yoshlari uchun jozibadorlikni yo‘qotdi. Ammo Turkmaniston, O‘zbekiston ...
      ortib bormoqda. Shu bilan birga, Sibir oliy o‘quv yurtlari Xitoydan
    </Fragment>
  </CardSearchV2>
  <CardSearchV2>
    <Fragment slot="date"> 30-04-23 </Fragment>
    <Fragment slot="title">
      Konraktining 50 foizi toʻlab beriladi: imtiyozdan foydalanish haqida 5 ta
      muhim maʼlumot
    </Fragment>
    <Fragment slot="text">
      <span class="search-highlight">Talaba</span> A ning kontarkt summasi 40 mln
      soʻm, uning kontrakti yarmi 20 mln ... qismi qoplab beriladi, yaʼni 16 mln
      500 ming soʻmgacha.
    </Fragment>
  </CardSearchV2>
  <CardSearchV2>
    <Fragment slot="date"> 09-04-23 </Fragment>
    <Fragment slot="title">
      Nodavlat oliygoh tugatilsa <span class="search-highlight">talaba</span>lar
      taqdiri nima bo‘ladi?
    </Fragment>
    <Fragment slot="text">
      Oliygoh tugatilsa <span class="search-highlight">talaba</span>lar taqdiri
      nima bo‘ladi? Nodavlat oliygoh yopilib ketsa ham muammo emas – agarda
      nodavlat oliygohning litsenziyasi to‘xtatilsa, hukumat ... emas – agarda
      nodavlat oliygohning litsenziyasi to‘xtatilsa, hukumat
    </Fragment>
  </CardSearchV2>
  <CardSearchV2>
    <Fragment slot="date"> 06-04-23 </Fragment>
    <Fragment slot="title">
      13,5 ming abituriyent qo‘shimcha qabul doirasida <span
        class="search-highlight">talaba</span
      >likka tavsiya etildi
    </Fragment>
    <Fragment slot="text">
      <span class="search-highlight">Talaba</span>likka tavsiya etilgan
      abituriyentlarning: 180 ming nafarga yaqini — umumiy qabul parametrlari
      doirasida; 13,5 ming nafarga yaqini — imtiyozga ...
    </Fragment>
  </CardSearchV2>
  <!-- </div> -->
</div>
