---
import CardSearch from "@components/shared/Cards/CardSearch.astro";
---

<div class="search-results-list">
  <!-- <div class="col-md-6"> -->
  <CardSearch>
    <Fragment slot="title">
      Talabalar yotoqxonasiga pul to‘lashda kimlarga imtiyoz berilishi mumkin?
    </Fragment>
  </CardSearch>
  <CardSearch>
    <Fragment slot="title">
      1-kurslarga shartnomasiz ham 2 oylik ijara to‘lab beriladi
    </Fragment>
  </CardSearch>
  <CardSearch>
    <Fragment slot="title">
      Sibirda O‘zbekistonlik talabalarlar soni ortib boryabdi
    </Fragment>
  </CardSearch>
  <CardSearch>
    <Fragment slot="title">
      Konraktining 50 foizi toʻlab beriladi: imtiyozdan foydalanish haqida 5 ta
      muhim maʼlumot
    </Fragment>
  </CardSearch>
  <CardSearch>
    <Fragment slot="title">
      Nodavlat oliygoh tugatilsa talabalar taqdiri nima bo‘ladi?
    </Fragment>
  </CardSearch>
  <CardSearch>
    <Fragment slot="title">
      13,5 ming abituriyent qo‘shimcha qabul doirasida talaba likka tavsiya
      etildi?
    </Fragment>
  </CardSearch>
  <!-- </div> -->
</div>
