@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-main-black;
    font-size: 16px;
  }

  .row {
    @apply grid grid-cols-4 gap-20;
  }

  /* .col-3, .col-4, .col-6, .col-8, .col-9 {
    @apply w-full;
  } */

  .col-1 {
    @apply col-span-1;
  }

  .col-2 {
    @apply col-span-2;
  }

  .col-3 {
    @apply col-span-3;
  }

  .col-4 {
    @apply col-span-4;
  }

  .header {
    @apply text-3xl font-bold underline
  }

  .h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .h2 {
    font-size: 1.375rem;
    line-height: 1.2;
  }

  .text-body-1 {
    font-size: 1.125rem;
    line-height: 1.2;
  }

  .text-body-2 {
    font-size: 1rem;
    line-height: 1.4;
  }

  .text-body-3 {
    font-size: .875rem;
    line-height: 1.4;
  }

  .subtitle {
    font-size: .75rem;
    line-height: 1.4;
  }

  .container-wrapper {
    @apply mx-[40px]
  }

  @screen sm {
    .container-wrapper {
      @apply mx-[30px]
    }
  }

  @screen md {
    .h1 {
      font-size: 2.125rem;
    }

    .h2 {
      font-size: 1.75rem;
    }

    .text-body-1 {
      font-size: 1.5rem;
    }

    .text-body-2 {
      font-size: 1.25rem;
    }

    .text-body-3 {
      font-size: 1.125rem;
    }

    .subtitle {
      font-size: .875rem;
    }
  }

  @screen xl {
    .container-wrapper {
      @apply max-w-[75rem] mx-auto
    }

    .h1 {
      font-size: 2.625rem;
    }

    .h2 {
      font-size: 2rem;
    }

    .text-body-1 {
      font-size: 1.375rem;
    }

    .text-body-2 {
      font-size: 1.125rem;
    }

    .text-body-3 {
      font-size: 1rem;
    }

    .subtitle {
      font-size: .875rem;
    }
  }
}

@layer components {
  .navbar {
    @apply border-b border-b-line py-6;
  }

  .nav {
    @apply flex items-center;

  }

  .logo {
    font-size: 1.5rem;
    font-weight: 500;
    @apply flex
  }

  .nav .nav__menu {
    @apply ml-auto flex gap-[2.5rem] items-center;
  }

  .nav .nav__link {
    font-size: 1.125rem;
  }

  .nav .nav__link.active {
    @apply font-semibold;
  }

  .icon {
    display: inline-block;
    aspect-ratio: 1;
    vertical-align: middle;
    width: 1.575rem;
    fill: transparent;
    stroke-width: 1.5;
  }

  .hero {
    @apply text-white p-40 rounded bg-primary-linear
  }

  .hero-chips {
    @apply text-body-2 flex items-center transition py-10 px-15 border border-white rounded-full text-white hover:text-main-black hover:bg-white
  }

  .card {
    @apply border border-line rounded overflow-hidden bg-background relative;
  }

  .card .card__body {
    @apply p-20 pb-[2.375rem] flex flex-col
  }

  .card .card__title {
    @apply text-xl h-14 line-clamp-2;
  }

  .card .card__meta {
    @apply py-1 px-2 rounded-sm bg-yellow font-light absolute top-20 left-20 uppercase;
    font-size: .75rem;
    letter-spacing: .0225rem;
  }

  .feature-card {
    @apply p-20 flex flex-col rounded bg-background border border-line
  }

  .btn {
    @apply py-3 px-6 uppercase rounded flex items-center transition;
  }

  .btn.btn-primary {
    @apply bg-primary text-white hover:bg-primary-hover;
  }

  .btn.btn-secondary {
    @apply bg-background border border-line hover:bg-gray;
  }

  .btn.btn-secondary-black {
    @apply bg-main-black text-white border border-line hover:bg-main-black-hover;
  }

  .btn.btn-circle {
    @apply flex items-center justify-center aspect-square rounded-full;
  }

  .slide-img {
    aspect-ratio: 7/12;
    @apply w-full object-cover
  }

  .slides-wrapper {
    @apply rounded relative
  }

  .slider-controls {
    @apply bg-main-black-linear absolute top-0 left-0 w-full h-full flex flex-col justify-between items-end p-20
  }

  .progress-wrapper {
    @apply flex gap-1.5 h-1 w-full
  }

  .slide-progress {
    @apply w-full rounded-full bg-white/40
  }

  .accordion-title {
    @apply text-xl font-medium;
  }
}