.accordion-title {
  @apply text-xl font-medium w-full text-start;
}

.accordion {
  @apply flex flex-col gap-10;

  &__item {
    @apply bg-background rounded border border-line;
  }

  &__control {
    @apply flex;
  }

  &__control-button {
    @apply flex lg:items-center justify-between w-full p-20 gap-x-15;
  }

  &__icon {
    @apply shrink-0 transition w-9 h-9 md:w-11 md:h-11 flex items-center justify-center rounded-full border border-line bg-white;

    .icon {
      @apply w-6;
    }
  }

  &__pane {
    @apply grid;
    grid-template-rows: 1fr;
    transition: all 0.3s ease-in-out;

    &.hidden {
      grid-template-rows: 0fr;
      transition: all 0.3s ease-in-out;
    }
  }

  &__pane-collapser {
    @apply overflow-hidden;
  }

  &__icon.rotate-180 {
    @apply bg-primary text-white border-0;
  }

  &__pane-body {
    @apply py-20 mx-20 border-t border-line;
  }
}

.accordion.accordion--lesson-sections {
  @apply gap-y-0;
  .accordion__pane {
    @apply border-t border-line;
  }
  .accordion__control-button {
    @apply px-20 py-15 items-start;
  }
  .accordion__item {
    @apply bg-white rounded-none;
  }
  .accordion__item:not(:last-child) {
    @apply -mb-px;
  }
  .accordion__item:first-child {
    @apply rounded-t;
  }
  .accordion__item:last-child {
    @apply rounded-b;
  }
  .accordion__pane-body {
    @apply py-15 px-20 mx-0 border-0;
  }

  .accordion__icon .icon {
    @apply w-20 my-0.5;
  }

  .accordion__icon {
    @apply h-auto w-auto border-0;
  }

  .accordion__icon.rotate-180 {
    @apply bg-white text-main-black;
  }

  .accordion__control-button {
    @apply px-20 md:px-10 lg:px-20;
  }
}

.accordion.accordion--lesson-sections:not(
    .accordion.accordion--lesson-sections-mobile
  ) {
  @apply hidden md:flex;
}
