.card {
  @apply relative border border-line rounded bg-background overflow-hidden flex flex-col;

  &__body {
    @apply p-20 flex flex-col;
  }

  &__img {
    @apply aspect-video border-b border-line object-cover;
  }

  &__subtitle {
    @apply text-primary text-subtitle mb-10;
  }

  &__title {
    @apply text-body-1 mb-10 xl:mb-20;
  }

  &__link::after {
    @apply absolute top-0 left-0 right-0 bottom-0 z-10;
    content: "";
  }

  &__course-category {
    @apply absolute top-4 left-4 z-20;
  }

  &__text {
    @apply text-body-2 text-text-gray;
  }

  &__icon {
    @apply mb-30 md:mb-40 lg:mb-60 w-12 text-primary;
  }

  &__path {
    @apply mb-30;
  }

  &__actions {
    @apply flex flex-wrap;
  }

  &__header {
    @apply p-20 border-b border-line;
  }
}

.card.card--test {
  @apply bg-white;
}

.card.card--course {
  @apply h-full;

  .card__course-category .badge {
    @apply bg-yellow rounded uppercase py-1 px-2 hover:bg-amber-400;
  }
}

.card.card--feature {
  @apply h-full;

  .card__icon {
    @apply w-9 md:w-11;
  }
}

.card.card--stat {
  @apply h-full;

  .card__title {
    @apply h2 mb-20 md:mb-30;
  }
}

.card.card--post {
  @apply h-full;

  .card__body {
    @apply flex-grow;
  }

  .card__link {
    @apply line-clamp-3 xl:line-clamp-none;
  }

  .card__subtitle {
    @apply uppercase;
  }
}

.card.card--icon {
  @apply bg-white;

  .card__body {
    @apply flex-row;
  }

  .card__icon {
    @apply w-6 flex-shrink-0 mr-10 mb-0 self-start;
  }

  .card__title {
    @apply text-body-3 mb-0 flex-grow;
  }
}

.card.card--icon.dark {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(
    to top,
    rgba(234, 238, 241, 0.1),
    rgba(234, 238, 241, 0.4)
  );
  background: linear-gradient(
    166deg,
    rgba(255, 255, 255, 0.1) 4.36%,
    rgba(255, 255, 255, 0.1) 93.25%
  );

  .card__icon {
    @apply text-yellow;
  }

  .card__title {
    @apply text-white;
  }
}

.card.card--path {
  .card__title {
    @apply mb-0;
  }
}

.card.card--reason {
  .card__icon {
    @apply mb-30 w-11;
  }

  .card__title {
    @apply mb-0;
  }
}

.card.card--doc {
  @apply h-full bg-white;

  .card__icon {
    @apply mb-60;
  }
}

.card.card--search {
  .card__text {
    @apply line-clamp-3;
  }

  .card__title {
    @apply mb-0 flex items-center gap-x-20 items-start;
  }

  .card_subtitle {
    @apply mb-3;
  }

  .card__link {
    @apply flex-grow;
  }

  .card__link:hover + .search-result-icon {
    @apply bg-primary text-white transition-colors;
  }

  .search-result-icon {
    @apply p-10 bg-white border border-line leading-none rounded-full transition-colors;
  }
}

.card.card--info {
  @apply h-full;
  .card__icon {
    @apply p-10 border border-line bg-white rounded-full mb-40 text-black;

    .icon {
      @apply w-6;
    }
  }

  .card__title {
    @apply mb-10;
  }
}

.card.card--profile {
  @apply bg-white lg:p-40 p-20;
}

.card.card--course-online {
  @apply h-full;
  .card__body {
    @apply flex-grow;
  }
  .card__title {
    @apply lg:mb-30 md:mb-20 mb-10;
  }

  .card__info {
    @apply mt-auto;
  }
  .card__link {
    @apply md:line-clamp-3;
  }
}

.card-min-h {
  min-height: 65vh;
}

.card.card--lesson-nav {
  @apply p-20 bg-white;

  .card__title {
    @apply text-body-2;
  }
}

@screen md {
  .card {
    .card__title {
      @apply text-body-2;
    }
    .card__text {
      @apply text-subtitle;
    }
  }

  .card.card--doc {
    .card__title {
      @apply text-body-3;
    }
    .card__icon {
      @apply mb-30;
    }

    .card__action {
      .text-btn {
        @apply text-subtitle-sm;
      }
    }
  }
}

@screen lg {
  .card {
    .card__title {
      @apply text-body-1;
    }
    .card__text {
      @apply text-body-2;
    }
  }

  .card.card--doc {
    .card__icon {
      @apply mb-60;
    }
  }
}

.recap-card {
  @apply p-15 bg-white rounded flex items-start;

  .icon {
    @apply w-6 mr-4;
  }

  .content {
    @apply flex flex-col;
  }

  .param {
    @apply text-subtitle-sm text-text-gray;
  }

  .value {
    @apply text-subtitle;
  }
}
