.icon-card {
  @apply flex p-20 gap-x-10 rounded bg-white border border-line;

  &__icon {
    @apply text-primary;
  }

  &__text {
    @apply text-base;
  }
}

.icon-card.icon-card--dark {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(
    to top,
    rgba(234, 238, 241, 0.1),
    rgba(234, 238, 241, 0.4)
  );
  background: linear-gradient(
    166deg,
    rgba(255, 255, 255, 0.1) 4.36%,
    rgba(255, 255, 255, 0.1) 93.25%
  );
  .icon-card__icon {
    @apply text-yellow;
  }

  .icon-card__text {
    @apply text-white;
  }
}

.icon-text {
  @apply flex gap-x-10 items-center font-medium;
  .icon {
    @apply w-9 h-9 text-primary;
  }
  span {
    @apply text-body-1;
  }
}

@screen md {
  .icon-text {
    span {
      @apply text-body-2;
    }
  }
}
