.nav-v {
  @apply divide-y divide-line flex flex-col rounded border border-line bg-white;

  &__link {
    @apply px-20 py-3 flex items-center gap-10 text-body-2;

    &.active {
      @apply ring-primary text-primary;
      box-shadow: inset 2px 0 0 var(--tw-ring-color);
    }
  }

  &__icon {
    @apply w-6 shrink-0;
  }
}

[drawer-backdrop],
[modal-backdrop] {
  @apply bg-main-black bg-opacity-40;
}

.drawer {
  @apply fixed z-40 h-screen max-w-md overflow-y-auto transition-transform translate-x-full bg-white;
  &.drawer-left {
    @apply -translate-x-full;
  }
  width: calc(100vw - 3.5rem);

  &__block {
    @apply p-30;
  }

  &__body {
    &:has(.drawer__block) {
      @apply divide-y divide-line;
    }
  }

  &__header {
    @apply border-b border-line p-20;
  }
}

.drawer.transform-none {
  transform: none;
}

.mobile-nav {
  @apply space-y-4;

  &__link {
    @apply flex items-center;

    .icon {
      @apply w-6 mr-10;
    }
  }
}
