.table-profile {
  @apply border-separate border-spacing-y-10 table-auto -my-10;

  &__head {
    @apply hidden md:table-row-group;
    tr th {
      @apply text-primary text-subtitle uppercase font-medium text-start pl-15 py-0 pb-5;
      &:first-child,
      &:last-child {
        @apply lg:w-[4.75rem] md:w-11;
      }
      &:nth-child(2) {
        @apply lg:pl-40;
      }
    }

    .table-profile__date {
      @apply text-end whitespace-nowrap;
    }
  }

  &__action-btn {
    @apply lg:p-3 lg:ml-60 ml-auto p-10 md:ml-1;
  }

  &__body {
    tr td {
      @apply bg-background border-y border-line pl-15 last:rounded-e last:border-r last:pr-20;
      &:nth-child(2) {
        @apply lg:pl-40;
      }

      &:first-child {
        @apply border rounded-s p-4 w-min;
      }
    }

    tr {
      @apply grid grid-cols-5 w-full mb-10 md:mb-0 rounded border border-line;
      td {
        @apply w-full p-0;

        .text {
          @apply p-15 block;
        }
      }

      td:first-child {
        @apply col-span-1 w-full md:w-fit border-0;
      }

      td:nth-child(2) {
        @apply col-span-4;
      }

      td:nth-child(3) {
        @apply col-span-3 border-t border-line;
      }

      td:last-child {
        @apply col-span-2 p-15 border-t border-line;
      }
    }
  }

  &__icon {
    @apply flex w-min;

    .icon {
      @apply lg:w-[2.625rem] w-9;
    }
  }

  .text {
    @apply text-body-2;
  }

  &__date {
    @apply md:text-end p-15;

    .time {
      @apply text-text-gray;
    }
  }
}

.dt {
  @apply flex flex-col;
  .term {
    @apply text-body-2;
  }
  .desc {
    @apply text-subtitle text-text-gray;
  }
}
.table-profile.table-profile--devices {
  .table-profile__body {
    td:nth-child(2) .dt {
      @apply p-15;
    }
  }
}
.table-profile.table-profile--balance {
  .table-profile__head {
    tr th {
      &:nth-child(3) {
        @apply whitespace-nowrap;
      }
    }
  }

  .table-profile__body {
    tr td {
      &:nth-child(3) {
        @apply p-15 whitespace-nowrap col-span-5;
      }
      &:nth-child(2) {
        @apply p-15;
      }
      &:last-child {
        @apply p-0 col-span-5 border-t-0;
      }
    }
  }
}

.prices-table {
  @apply w-full border-separate border-spacing-y-15 -my-15;
  th {
    @apply text-text-gray text-subtitle text-start font-normal;
  }
  td {
    @apply text-end text-subtitle;
  }
}

@screen md {
  .table-profile {
    .text {
      @apply text-subtitle-sm;
    }

    &__date {
      @apply text-subtitle-sm;
    }

    .table-profile__head {
      th,
      td {
        @apply text-xs;
      }
    }
  }

  .dt {
    .term {
      @apply text-subtitle-sm;
    }
    .desc {
      @apply text-xs;
    }
  }
}

@screen md {
  .table-profile {
    &__body {
      tr {
        display: table-row;
      }
    }
  }
}
