---
import CardIcon from "@components/shared/Cards/CardIcon.astro";
import CourseRecap from "./CourseRecap.astro";
import Card from "@components/shared/Card.astro";
import TermDesc from "@components/shared/TermDesc.astro";
import IconList from "@components/shared/IconList/IconList.astro";
import IconListItem from "@components/shared/IconList/IconListItem.astro";
import img from "@assets/images/courses/course-2.png";
---

<section class="course-hero -mx-40 md:mx-0 section">
  <div class="info">
    <div class="max-w-lg flex flex-col">
      <div class="info__category">DIZAYN</div>
      <h1 class="info__title">UX/UI dizayn foundation kursi</h1>
      <p class="info__text">
        Jahon darajasidagi foydalanuvchi interfeysini ishlab chiqish va UX/UI
        sohasida muvaffaqiyatli karyeraga erishing!
      </p>
    </div>
    <div class="info__features">
      <div class="row">
        <div class="col-md-6">
          <CardIcon icon="notebook-2">
            <Fragment slot="title">
              Kurs aniq reja asosida ishlab chiqilgan videolardan tashkil topgan
            </Fragment>
          </CardIcon>
        </div>
        <div class="col-md-6">
          <CardIcon icon="world-time">
            <Fragment slot="title">
              Kursni xohlagan vaqtingizda va joyda o‘rganishingiz mumkin
            </Fragment>
          </CardIcon>
        </div>
        <div class="col-md-6">
          <CardIcon icon="telegram">
            <Fragment slot="title">
              Kurs ustozlar bilan birgalikda maxsus telegram yopiq guruh tashkil
              etilgan
            </Fragment>
          </CardIcon>
        </div>
        <div class="col-md-6">
          <CardIcon icon="pencil">
            <Fragment slot="title">
              Dars vazifalari to‘liq ustoz nazorati ostida tekshiriladi va
              baholanadi
            </Fragment>
          </CardIcon>
        </div>
      </div>
    </div>
    <div class="info__author">
      <div class="author">
        <img
          src="https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?auto=format&fit=crop&q=80&w=2952&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="author__img"
          alt=""
        />
        <div class="flex flex-col">
          <div class="author__name">Ismoil Safarov</div>
          <div class="flex">
            <div class="author__meta">UX/UI DIZAYNER</div>
            <div class="author__meta">KURS ustozi</div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden md:flex flex-col lg:hidden">
      <button
        class="block w-full mt-30 mb-15"
        data-modal-target="course-video-dialog"
        data-modal-toggle="course-video-dialog">
        <div class="relative w-full h-[12rem]">
          <div
            class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
            <div class="btn !p-[.75rem] leading-none btn-circle bg-white">
              <svg class="icon !w-20 text-primary fill-primary">
                <use xlink:href="#icon-play-fill"></use>
              </svg>
            </div>
          </div>
          <img src={img.src} class="w-full h-full object-cover" alt="" />
        </div>
      </button>
      <div class="row">
        <div class="col-md-4">
          <div class="recap-card">
            <svg class="icon">
              <use xlink:href=`#icon-double-check`></use>
            </svg>
            <div class="content">
              <div class="param">Davomiyligi</div>
              <div class="value">14 soat 24 daqiqa</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="recap-card">
            <svg class="icon">
              <use xlink:href=`#icon-double-check`></use>
            </svg>
            <div class="content">
              <div class="param">Murakkablik</div>
              <div class="value">Boshlang‘ich</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="recap-card">
            <svg class="icon">
              <use xlink:href=`#icon-double-check`></use>
            </svg>
            <div class="content">
              <div class="param">Darslar soni</div>
              <div class="value">67 ta</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="recap-card">
            <svg class="icon">
              <use xlink:href=`#icon-double-check`></use>
            </svg>
            <div class="content">
              <div class="param">Sertifikat</div>
              <div class="value">Sertifikati mavjud</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="recap-card">
            <svg class="icon">
              <use xlink:href=`#icon-double-check`></use>
            </svg>
            <div class="content">
              <div class="param">Foydalanish muddati</div>
              <div class="value">1 yil foydalanish</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
