---
import Button from "@components/shared/Button.astro";
import IconList from "@components/shared/IconList/IconList.astro";
import IconListItem from "@components/shared/IconList/IconListItem.astro";
import TermDesc from "@components/shared/TermDesc.astro";
import img from "@assets/images/courses/course-2.png";
import Popup from "@components/shared/Popup.astro";
import CheckoutControl from "@components/shared/CheckoutControl.astro";
import Input from "@components/shared/Input.astro";
---

<div class="course-recap sticky top-7">
  <button
    class="block"
    data-modal-target="course-video-dialog"
    data-modal-toggle="course-video-dialog">
    <div class="relative w-full aspect-video">
      <div
        class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
        <div class="btn !p-[.75rem] leading-none btn-circle bg-white">
          <svg class="icon !w-20 text-primary fill-primary">
            <use xlink:href="#icon-play-fill"></use>
          </svg>
        </div>
      </div>
      <img src={img.src} class="w-full h-full object-cover" alt="" />
    </div>
  </button>
  <div class="course-recap__body">
    <IconList>
      <IconListItem icon="double-check">
        <TermDesc>
          <Fragment slot="term">Davomiyligi</Fragment>
          <Fragment slot="desc">14 soat 24 daqiqa</Fragment>
        </TermDesc>
      </IconListItem>
      <IconListItem icon="double-check">
        <TermDesc>
          <Fragment slot="term">Murakkablik</Fragment>
          <Fragment slot="desc">Boshlang‘ich</Fragment>
        </TermDesc>
      </IconListItem>
      <IconListItem icon="double-check">
        <TermDesc>
          <Fragment slot="term">Darslar soni</Fragment>
          <Fragment slot="desc">67 ta</Fragment>
        </TermDesc>
      </IconListItem>
      <IconListItem icon="double-check">
        <TermDesc>
          <Fragment slot="term">Sertifikat</Fragment>
          <Fragment slot="desc">Kurs sertifikati mavjud</Fragment>
        </TermDesc>
      </IconListItem>
      <IconListItem icon="double-check">
        <TermDesc>
          <Fragment slot="term">Foydalanish muddati</Fragment>
          <Fragment slot="desc">1 yil foydalanish</Fragment>
        </TermDesc>
      </IconListItem>
    </IconList>
  </div>
  <div class="course-recap__body">
    <div class="total-price mb-20">
      <div class="total-price__title">BIR MARTALIK TO‘LOV</div>
      <div class="total-price__amount">9 850 000 SO‘M</div>
    </div>
    <Button
      style="secondary-black"
      justify="center"
      attrs={{
        "data-modal-target": "purchase-dialog",
        "data-modal-toggle": "purchase-dialog",
      }}>
      kursni SOTIB OLISH
    </Button>
  </div>
</div>

<Popup type="modal" id="course-video-dialog">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/oUIkswy_sXo?si=TJvdPqUTIU_FaSIo"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</Popup>
<Popup type="drawer" id="purchase-dialog">
  <div class="checkout">
    <div class="checkout__header">
      <h1 class="checkout__title">Kursni sotib olish</h1>
      <p class="checkout__subtitle">
        Quyidagi to‘lov turlarida bittasini tanlab, kurs uchun to‘lovni amalga
        oshiring!
      </p>
    </div>
    <hr class="checkout__divider" />
    <div class="checkout__body">
      <form class="course-checkout-form">
        <fieldset>
          <legend class="form-legend">To‘lov turini tanlang!</legend>
          <div class="form-payment">
            <CheckoutControl
              type="radio"
              name="payment"
              id="payme"
              icon="payme">
              Payme orqali
            </CheckoutControl>
            <CheckoutControl
              type="radio"
              name="payment"
              id="click"
              icon="click">
              Click orqali
            </CheckoutControl>
            <CheckoutControl type="radio" name="payment" id="uzum" icon="uzum">
              Uzum orqali
            </CheckoutControl>
            <CheckoutControl
              type="radio"
              name="payment"
              id="checkout-wallet"
              icon="checkout-wallet">
              Balansdan
            </CheckoutControl>
          </div>
        </fieldset>
      </form>

      <hr class="checkout__divider" />
      <div class="checkout-check">
        <div class="checkout-check__balance lesson-icon-card">
          <div class="lesson-icon-card__item">
            <div class="lesson-icon-card__icon">
              <svg class="icon">
                <use xlink:href=`#icon-wallet`></use>
              </svg>
            </div>
            <div class="lesson-icon-card__body">
              <div class="test-results">
                <div class="test-score">
                  <div class="test-score__title">balansingiz</div>
                  <div class="test-score__amount">10 000 000 SO‘M</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="checkout-check__receipt receipt">
          <div class="receipt__block">
            <svg class="icon !w-11">
              <use xlink:href=`#icon-receipt`></use>
            </svg>
          </div>
          <div class="receipt__block">
            <table class="prices-table">
              <tr>
                <th scope="row">Asl narxi</th>
                <td>9 850 000 SO‘M</td>
              </tr>
              <tr>
                <th scope="row">Chegirma</th>
                <td> 0 SO‘M</td>
              </tr>
            </table>
          </div>
          <div class="receipt__block balance">
            <h2 class="balance__net">
              <span class="balance__title">umumiy balans</span>
              <span class="balance__number"> 9 850 000 SO‘M</span>
            </h2>
          </div>
        </div>
        <div class="checkout-check__promo">
          <form class="flex gap-x-10">
            <Input
              type="text"
              id="promo-code"
              name="promo-code"
              placeholder="Promo-kodim bor"
            />
            <Button disabled style="primary">Qollash</Button>
          </form>
        </div>
      </div>
      <Button style="primary" classes="w-full" justify="center">
        kursni sotib olish
      </Button>
    </div>
  </div>
</Popup>
