---
import Button from "@components/shared/Button.astro";
import IconList from "@components/shared/IconList/IconList.astro";
import IconListItem from "@components/shared/IconList/IconListItem.astro";
import TermDesc from "@components/shared/TermDesc.astro";
import img from "@assets/images/courses/course-2.png";
import Popup from "@components/shared/Popup.astro";
import CheckoutControl from "@components/shared/CheckoutControl.astro";
import Input from "@components/shared/Input.astro";
import CourseProgress from "./CourseProgress.astro";
import CoursePurchase from "./CoursePurchase.astro";

const { purchase } = Astro.props;
---

<div class="course-recap hidden lg:block">
  <button
    class="block"
    data-modal-target="course-video-dialog"
    data-modal-toggle="course-video-dialog">
    <div class="relative w-full aspect-video">
      <div
        class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
        <div class="btn !p-[.75rem] leading-none btn-circle bg-white">
          <svg class="icon !w-20 text-primary fill-primary">
            <use xlink:href="#icon-play-fill"></use>
          </svg>
        </div>
      </div>
      <img src={img.src} class="w-full h-full object-cover" alt="" />
    </div>
  </button>
  <div class="course-recap__body">
    <IconList>
      <IconListItem icon="double-check">
        <TermDesc>
          <Fragment slot="term">Davomiyligi</Fragment>
          <Fragment slot="desc">14 soat 24 daqiqa</Fragment>
        </TermDesc>
      </IconListItem>
      <IconListItem icon="double-check">
        <TermDesc>
          <Fragment slot="term">Murakkablik</Fragment>
          <Fragment slot="desc">Boshlang‘ich</Fragment>
        </TermDesc>
      </IconListItem>
      <IconListItem icon="double-check">
        <TermDesc>
          <Fragment slot="term">Darslar soni</Fragment>
          <Fragment slot="desc">67 ta</Fragment>
        </TermDesc>
      </IconListItem>
      <IconListItem icon="double-check">
        <TermDesc>
          <Fragment slot="term">Sertifikat</Fragment>
          <Fragment slot="desc">Kurs sertifikati mavjud</Fragment>
        </TermDesc>
      </IconListItem>
      <IconListItem icon="double-check">
        <TermDesc>
          <Fragment slot="term">Foydalanish muddati</Fragment>
          <Fragment slot="desc">1 yil foydalanish</Fragment>
        </TermDesc>
      </IconListItem>
    </IconList>
  </div>
  <div class="course-recap__body">
    {purchase && <CoursePurchase type="select" />}
  </div>
</div>

<Popup type="modal" id="course-video-dialog">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/oUIkswy_sXo?si=TJvdPqUTIU_FaSIo"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</Popup>
