---

---

<div class="empty-search-block">
  <div class="empty-result">
    <div class="empty-result__icon">
      <svg class="icon !w-24 text-primary">
        <use xlink:href="#icon-search-receipt"></use>
      </svg>
    </div>
    <h1 class="empty-result__title">Maqola topilmadi!</h1>
    <p class="empty-result__text">
      Sizni so‘rovingiz bo‘yicha hech qanday ma’lumot topilmadi! Qaytadan urinib
      ko‘ring!
    </p>
  </div>
</div>
