---
import Accordion from "@components/shared/Accordion/Accordion.astro";
import AccordionHeader from "@components/shared/Accordion/AccordionHeader.astro";
import AccordionIcon from "@components/shared/Accordion/AccordionIcon.astro";
import AccordionItem from "@components/shared/Accordion/AccordionItem.astro";
import AccordionPane from "@components/shared/Accordion/AccordionPane.astro";
import LessonIcon from "@components/shared/LessonIcon.astro";
import SectionLessons from "@components/shared/SectionLessons.astro";
import SectionLessonsItem from "@components/shared/SectionLessonsItem.astro";
import CourseProgress from "./CourseProgress.astro";
import SectionLessonsExample from "./SectionLessonsExample.astro";
---

<aside class="lesson-nav">
  <a href="#!" class="lesson-nav__back-link">
    <svg class="icon !w-6">
      <use xlink:href="#icon-arrow-left"></use>
    </svg>
     mening kurslarim
  </a>
  <div class="card card--lesson-nav">
    <div class="card__title">
      UX/UI dizayning boshalang‘ich ko‘nikmalari kursi
    </div>
    <div class="card__actions">
      <CourseProgress value="0" />
    </div>
  </div>
  <Accordion
    id="lesson-sections"
    extraClass="accordion--lesson-sections"
    name="sections">
    <AccordionItem>
      <AccordionHeader slot="header" id="section-1" bodyTarget="section-body-1">
        <span class="lesson-section-header">
          <LessonIcon />
           01 - Figma tool’lari bilan ishlash
        </span>
        <AccordionIcon />
      </AccordionHeader>
      <AccordionPane slot="pane" id="section-body-1" headerLabel="section-1">
        <SectionLessonsExample />
      </AccordionPane>
    </AccordionItem>
    <AccordionItem>
      <AccordionHeader slot="header" id="section-2" bodyTarget="section-body-2">
        <span class="lesson-section-header">
          <LessonIcon />
           02 - Dizayn qanday muammolarni hal qiladi?
        </span>
        <AccordionIcon />
      </AccordionHeader>
      <AccordionPane slot="pane" id="section-body-2" headerLabel="section-2">
        <SectionLessonsExample />
      </AccordionPane>
    </AccordionItem>
    <AccordionItem>
      <AccordionHeader slot="header" id="section-3" bodyTarget="section-body-3">
        <span class="lesson-section-header">
          <LessonIcon />
           03 -Loyihani dizayn qilish qoidalari
        </span>
        <AccordionIcon />
      </AccordionHeader>
      <AccordionPane slot="pane" id="section-body-3" headerLabel="section-3">
        <SectionLessons>
          <SectionLessonsItem>
            1.1 - Kurs haqida to‘liq tanishtiruv
          </SectionLessonsItem>
          <SectionLessonsItem>
            1.2 - UI dizaynda tipografik qoidalar
          </SectionLessonsItem>
          <SectionLessonsItem>
            1.3 - UX/UI darsiga oid testlar
          </SectionLessonsItem>
        </SectionLessons>
      </AccordionPane>
    </AccordionItem>
    <AccordionItem>
      <AccordionHeader slot="header" id="section-4" bodyTarget="section-body-4">
        <span class="lesson-section-header">
          <LessonIcon />
           04 - Loyihani dasturchiga topshirish
        </span>
        <AccordionIcon />
      </AccordionHeader>
      <AccordionPane slot="pane" id="section-body-4" headerLabel="section-4">
        <SectionLessons>
          <SectionLessonsItem>
            1.1 - Kurs haqida to‘liq tanishtiruv
          </SectionLessonsItem>
          <SectionLessonsItem>
            1.2 - UI dizaynda tipografik qoidalar
          </SectionLessonsItem>
          <SectionLessonsItem>
            1.3 - UX/UI darsiga oid testlar
          </SectionLessonsItem>
        </SectionLessons>
      </AccordionPane>
    </AccordionItem>
    <AccordionItem>
      <AccordionHeader slot="header" id="section-5" bodyTarget="section-body-5">
        <span class="lesson-section-header">
          <LessonIcon />
           05 - Kozimxon Turaev saytini ishlab chiqish
        </span>
        <AccordionIcon />
      </AccordionHeader>
      <AccordionPane slot="pane" id="section-body-5" headerLabel="section-5">
        <SectionLessons>
          <SectionLessonsItem>
            1.1 - Kurs haqida to‘liq tanishtiruv
          </SectionLessonsItem>
          <SectionLessonsItem>
            1.2 - UI dizaynda tipografik qoidalar
          </SectionLessonsItem>
          <SectionLessonsItem>
            1.3 - UX/UI darsiga oid testlar
          </SectionLessonsItem>
        </SectionLessons>
      </AccordionPane>
    </AccordionItem>
    <AccordionItem>
      <AccordionHeader slot="header" id="section-6" bodyTarget="section-body-6">
        <span class="lesson-section-header">
          <LessonIcon />
           06 - Foydalanuvchi e’tiborini nazorat qilish
        </span>
        <AccordionIcon />
      </AccordionHeader>
      <AccordionPane slot="pane" id="section-body-6" headerLabel="section-6">
        <SectionLessons>
          <SectionLessonsItem>
            1.1 - Kurs haqida to‘liq tanishtiruv
          </SectionLessonsItem>
          <SectionLessonsItem>
            1.2 - UI dizaynda tipografik qoidalar
          </SectionLessonsItem>
          <SectionLessonsItem>
            1.3 - UX/UI darsiga oid testlar
          </SectionLessonsItem>
        </SectionLessons>
      </AccordionPane>
    </AccordionItem>
    <AccordionItem>
      <AccordionHeader slot="header" id="section-7" bodyTarget="section-body-7">
        <span class="lesson-section-header">
          <LessonIcon />
           07 - Assodiq loyihasi haqida videodarslik
        </span>
        <AccordionIcon />
      </AccordionHeader>
      <AccordionPane slot="pane" id="section-body-7" headerLabel="section-7">
        <SectionLessons>
          <SectionLessonsItem>
            1.1 - Kurs haqida to‘liq tanishtiruv
          </SectionLessonsItem>
          <SectionLessonsItem>
            1.2 - UI dizaynda tipografik qoidalar
          </SectionLessonsItem>
          <SectionLessonsItem>
            1.3 - UX/UI darsiga oid testlar
          </SectionLessonsItem>
        </SectionLessons>
      </AccordionPane>
    </AccordionItem>
    <AccordionItem>
      <AccordionHeader slot="header" id="section-8" bodyTarget="section-body-8">
        <span class="lesson-section-header">
          <LessonIcon />
           08 - Real loyihalar ustida ishlash amaliyoti
        </span>
        <AccordionIcon />
      </AccordionHeader>
      <AccordionPane slot="pane" id="section-body-8" headerLabel="section-8">
        <SectionLessons>
          <SectionLessonsItem>
            1.1 - Kurs haqida to‘liq tanishtiruv
          </SectionLessonsItem>
          <SectionLessonsItem>
            1.2 - UI dizaynda tipografik qoidalar
          </SectionLessonsItem>
          <SectionLessonsItem>
            1.3 - UX/UI darsiga oid testlar
          </SectionLessonsItem>
        </SectionLessons>
      </AccordionPane>
    </AccordionItem>
    <AccordionItem>
      <AccordionHeader slot="header" id="section-9" bodyTarget="section-body-9">
        <span class="lesson-section-header">
          <LessonIcon />
           09 - Ishni muvaffaqiyatli topshirish yo‘llari
        </span>
        <AccordionIcon />
      </AccordionHeader>
      <AccordionPane slot="pane" id="section-body-9" headerLabel="section-9">
        <SectionLessons>
          <SectionLessonsItem>
            1.1 - Kurs haqida to‘liq tanishtiruv
          </SectionLessonsItem>
          <SectionLessonsItem>
            1.2 - UI dizaynda tipografik qoidalar
          </SectionLessonsItem>
          <SectionLessonsItem>
            1.3 - UX/UI darsiga oid testlar
          </SectionLessonsItem>
        </SectionLessons>
      </AccordionPane>
    </AccordionItem>
    <AccordionItem>
      <AccordionHeader
        slot="header"
        id="section-10"
        bodyTarget="section-body-10">
        <span class="lesson-section-header">
          <LessonIcon />
           10 - Yakuniy dars va sinov vazifalar
        </span>
        <AccordionIcon />
      </AccordionHeader>
      <AccordionPane slot="pane" id="section-body-10" headerLabel="section-10">
        <SectionLessons>
          <SectionLessonsItem>
            1.1 - Kurs haqida to‘liq tanishtiruv
          </SectionLessonsItem>
          <SectionLessonsItem>
            1.2 - UI dizaynda tipografik qoidalar
          </SectionLessonsItem>
          <SectionLessonsItem>
            1.3 - UX/UI darsiga oid testlar
          </SectionLessonsItem>
        </SectionLessons>
      </AccordionPane>
    </AccordionItem>
  </Accordion>
</aside>
