---
import postImg from "@assets/images/blog/post/post-img.png";
---

<div class="post-content">
  <figure>
    <img src={postImg.src} alt="" />
    <figcaption>
      Ushbu maqola “Registon stipendiya g‘oliblarini munosib taqdirlashdi”
      mavzusiga bag‘ishlandi.
    </figcaption>
  </figure>
</div>
