---

---

<div class="price-plan">
  <div class="price-plan__header">
    <slot name="header" />
  </div>
  <hr class="border-b border-line my-20" />
  <div class="price-plan__body">
    <slot name="body" />
  </div>
  <hr class="border-b border-line my-20" />
  <div class="price-plan__footer">
    <slot name="footer" />
  </div>
</div>
