---
import Layout from "@/layouts/Layout.astro";
import SearchResultsV2 from "@components/sections/Search/SearchResultsV2.astro";
import Button from "@components/shared/Button.astro";
import CustomControl from "@components/shared/CustomControl.astro";
import Input from "@components/shared/Input.astro";
import Pagination from "@components/shared/Pagination.astro";
import PaginationItem from "@components/shared/PaginationItem.astro";
---

<Layout title="Blog search">
  <main>
    <div class="container-wrapper">
      <section class="section">
        <h1 class="section-title">
          Barcha <span class="title-highlight">maqolalar</span>
        </h1>
        <div class="row mb-40">
          <div class="col-lg-6 col-md-8">
            <div class="flex flex-wrap gap-2">
              <CustomControl type="checkbox" id="some1" name="somename">
                Dizayn
              </CustomControl>
              <CustomControl type="checkbox" id="some2" name="somename">
                O‘qituvchi
              </CustomControl>
              <CustomControl type="checkbox" id="some21" name="somename">
                Abiturient
              </CustomControl>
              <CustomControl type="checkbox" id="some3" name="somename">
                Universitet
              </CustomControl>
              <CustomControl type="checkbox" id="some4" name="somename">
                E‘lonlar
              </CustomControl>
              <CustomControl type="checkbox" id="some5" name="somename">
                Yangiliklar
              </CustomControl>
              <CustomControl type="checkbox" id="some6" name="somename">
                Imtihon
              </CustomControl>
              <CustomControl type="checkbox" id="some7" name="somename">
                Talaba
              </CustomControl>
              <CustomControl type="checkbox" id="some8" name="somename">
                Boshqa
              </CustomControl>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="flex items-end h-full">
              <div class="flex items-stretch w-full">
                <Input
                  name="some"
                  id="someid"
                  type="text"
                  utils="w-full"
                  placeholder="1 321 maqolalar"
                />
                <Button style="primary" classes="shrink-0 !px-4">
                  <svg class="icon">
                    <use xlink:href="#icon-search"></use>
                  </svg>
                </Button>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-120">
          <SearchResultsV2 />
          <div class="flex justify-end mt-40">
            <Pagination>
              <PaginationItem type="prev" />
              <PaginationItem active>01</PaginationItem>
              <PaginationItem>02</PaginationItem>
              <PaginationItem>...</PaginationItem>
              <PaginationItem>05</PaginationItem>
              <PaginationItem>06</PaginationItem>
              <PaginationItem type="next" />
            </Pagination>
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>
