---
import Layout from "@/layouts/Layout.astro";
import CourseHero from "@components/blocks/CourseHero.astro";
import CourseTarget from "@components/sections/Course/CourseTarget.astro";
import CourseFlow from "@components/sections/Course/CourseFlow.astro";
import CourseCurriculum from "@components/sections/Course/CourseCurriculum.astro";
import CourseOutcome from "@components/sections/Course/CourseOutcome.astro";
import CourseCertificates from "@components/sections/Course/CourseCertificates.astro";
import CourseRecap from "@components/blocks/CourseRecap.astro";
import FAQ from "@components/sections/Course/FAQ.astro";
import ContactUs from "@components/sections/Home/ContactUs.astro";
---

<Layout title="Blog">
  <main>
    <div class="container-wrapper">
      <div class="row mb-120">
        <div class="col-md-9">
          <CourseHero />
          <CourseTarget />
          <CourseFlow />
          <CourseCurriculum />
          <CourseOutcome />
          <CourseCertificates />
        </div>
        <div class="col-md-3">
          <CourseRecap />
        </div>
      </div>
      <FAQ />
      <ContactUs />
    </div>
  </main>
</Layout>
