---
import Layout from "@/layouts/Layout.astro";
import CourseHero from "@components/blocks/CourseHero.astro";
import CourseRecap from "@components/blocks/CourseRecap.astro";
import CourseCertificates from "@components/sections/Course/CourseCertificates.astro";
import CoursePricePlan from "@components/sections/Course/CoursePricePlan.astro";
import CourseCurriculum from "@components/sections/Course/CourseCurriculum.astro";
import CourseFlow from "@components/sections/Course/CourseFlow.astro";
import CourseOutcome from "@components/sections/Course/CourseOutcome.astro";
import CourseTarget from "@components/sections/Course/CourseTarget.astro";
import FAQ from "@components/sections/Course/FAQ.astro";
import ContactUs from "@components/sections/Home/ContactUs.astro";
import CoursePurchase from "@components/blocks/CoursePurchase.astro";
import Popup from "@components/shared/Popup.astro";
import CheckoutControl from "@components/shared/CheckoutControl.astro";
import Input from "@components/shared/Input.astro";
import Button from "@components/shared/Button.astro";
---

<Layout title="Blog">
  <main>
    <div class="container-wrapper">
      <div class="row mb-120">
        <div class="col-lg-9">
          <CourseHero />
          <div class="block sm:hidden">
            <CourseRecap />
          </div>
          <div class="lg:hidden">
            <CoursePurchase type="select" />
          </div>
          <CourseTarget />
          <CourseFlow />
          <CourseCurriculum />
          <CourseOutcome />
          <CoursePricePlan />
          <CourseCertificates />
        </div>
        <div class="col-lg-3 hidden lg:block">
          <CourseRecap purchase />
        </div>
      </div>
      <FAQ />
      <ContactUs />
    </div>
  </main>

  <Popup type="drawer" id="purchase-dialog">
    <div class="checkout">
      <div class="checkout__header">
        <Button
          attrs={{ "data-modal-hide": "purchase-dialog" }}
          style="secondary"
          justify="center"
          classes="md:hidden mb-15 w-full ">
          <svg class="icon !w-6">
            <use xlink:href="#icon-arrow-left"></use>
          </svg>
          Ortga qaytish
        </Button>
        <h1 class="checkout__title">Kursni sotib olish</h1>
        <p class="checkout__subtitle">
          Quyidagi to‘lov turlarida bittasini tanlab, kurs uchun to‘lovni amalga
          oshiring!
        </p>
      </div>
      <hr class="checkout__divider" />
      <div class="checkout__body">
        <form class="course-checkout-form">
          <fieldset>
            <legend class="form-legend">To‘lov turini tanlang!</legend>
            <div class="form-payment">
              <CheckoutControl
                type="radio"
                name="payment"
                id="payme"
                icon="payme">
                Payme orqali
              </CheckoutControl>
              <CheckoutControl
                type="radio"
                name="payment"
                id="click"
                icon="click">
                Click orqali
              </CheckoutControl>
              <CheckoutControl
                type="radio"
                name="payment"
                id="uzum"
                icon="uzum">
                Uzum orqali
              </CheckoutControl>
              <CheckoutControl
                type="radio"
                name="payment"
                id="checkout-wallet"
                icon="checkout-wallet">
                Balansdan
              </CheckoutControl>
            </div>
          </fieldset>
        </form>

        <hr class="checkout__divider" />
        <div class="checkout-check">
          <div class="checkout-check__balance lesson-icon-card">
            <div class="lesson-icon-card__item">
              <div class="lesson-icon-card__icon">
                <svg class="icon">
                  <use xlink:href=`#icon-wallet`></use>
                </svg>
              </div>
              <div class="lesson-icon-card__body">
                <div class="test-results">
                  <div class="test-score">
                    <div class="test-score__title">balansingiz</div>
                    <div class="test-score__amount">10 000 000 SO‘M</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="checkout-check__receipt receipt">
            <div class="receipt__block">
              <svg class="icon !w-11">
                <use xlink:href=`#icon-receipt`></use>
              </svg>
            </div>
            <div class="receipt__block">
              <table class="prices-table">
                <tr>
                  <th scope="row">Asl narxi</th>
                  <td>9 850 000 SO‘M</td>
                </tr>
                <tr>
                  <th scope="row">Chegirma</th>
                  <td> 0 SO‘M</td>
                </tr>
              </table>
            </div>
            <div class="receipt__block balance">
              <h2 class="balance__net">
                <span class="balance__title">umumiy balans</span>
                <span class="balance__number"> 9 850 000 SO‘M</span>
              </h2>
            </div>
          </div>
          <div class="checkout-check__promo">
            <form class="flex gap-x-10">
              <Input
                type="text"
                id="promo-code"
                name="promo-code"
                placeholder="Promo-kodim bor"
              />
              <Button disabled style="primary">Qollash</Button>
            </form>
          </div>
        </div>
        <Button style="primary" classes="w-full" justify="center">
          kursni sotib olish
        </Button>
      </div>
    </div>
  </Popup>
</Layout>
