---
import Layout from "../layouts/Layout.astro";

import Hero from "@components/sections/Home/Hero.astro";
import Features from "@components/sections/Home/Features.astro";
import Navbar from "@/layouts/Header.astro";
import Stats from "@components/sections/Home/Stats.astro";
import Courses from "@components/sections/Home/Courses.astro";
import Blog from "@components/sections/Home/Blog.astro";
import FAQ from "@components/sections/Home/FAQ.astro";
import Partners from "@components/sections/Home/Partners.astro";
import ContactUs from "@components/sections/Home/ContactUs.astro";
import Footer from "@/layouts/Footer.astro";
---

<Layout title="Welcome to Oliygoh.">
  <main>
    <div class="container-wrapper">
      <Hero />
      <Features />
      <Courses />
      <Stats />
      <Blog />
      <FAQ />
      <Partners />
      <ContactUs />
    </div>
  </main>
</Layout>
