---
import Footer from "@/layouts/Footer.astro";
import Layout from "@/layouts/Layout.astro";
import Navbar from "@components/blocks/Navbar.astro";
---

<Layout title="Blog">
  <Navbar />
  <main></main>
  <Footer />
</Layout>
