---
import Layout from "@/layouts/Layout.astro";
import Button from "@components/shared/Button.astro";
---

<Layout title="Blog">
  <main>
    <div class="section">
      <div class="container-wrapper">
        <div class="row">
          <div class="col-md-6">
            <h1 class="h2 mb-20">Prezident maktabi testlari 2024</h1>
            <p class="text-body-3 mb-20">
              PM imtihonlarining 1-bosqich saralash testiga tayyorgarlik ko'rish
              uchun matematika va muammoli masalalarni hal qilish bo'yicha
              namunaviy test savollaridan iborat onlayn imtihon topshiring.
              Ushbu test savollari bilan al-Xorazmiy ixtisoslashtirilgan maktab
              imtihonlariga ham tayyorgarlik ko'rishingiz mumkin.
            </p>
            <p class="text-body-3 mb-20">
              Prezident maktabi testlarini ishlash orqali bilmingizni sinab
              ko'rishingiz mumkin. Ushbu prezident maktabi namunaviy test
              savollari matematika fanidan muammoli masalalarni hal qilish
              mavzusida 30 ta savoldan iborat. PM test bazasi jami 500 ga yaqin
              test savollaridan iborat.
            </p>
            <p class="text-body-3">
              Ushbu sahifada esa <a href="#!" class="text-primary"
                >Prezident maktabi ingliz tili namunaviy test savollari</a
              > imtihonini topshirishingiz mumkin.
            </p>
          </div>
          <div class="col-md-6">
            <div class="card card--profile mb-20">
              <div class="text-body-3 mb-20 text-center">
                <b>Azamat</b>, ushbu imtihonda sizning natijangiz quyidagicha:
              </div>
              <div class="row mb-20 text-center">
                <div class="col-6 col-md-3">
                  <div class="h2 text-primary">21</div>
                  <div class="text-body-3">O'rin</div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="h2 text-primary">23</div>
                  <div class="text-body-3">To'g'ri javoblar</div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="h2 text-primary">85%</div>
                  <div class="text-body-3">Natija foizi</div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="h2 text-primary">91 daq</div>
                  <div class="text-body-3">Vaqt</div>
                </div>
              </div>
              <div class="text-center">
                <a href="#!" class="text-primary">Test tahlili</a>
              </div>
            </div>
            <div class="card card--profile">
              <div class="row">
                <div class="col-md-6">
                  <Button style="primary" classes="w-100 justify-center"
                    >Test topshirish</Button
                  >
                </div>
                <div class="col-md-6">
                  <Button style="secondary" classes="w-100 justify-center"
                    >Natijalar jadvali<i class="ti ti-arrow-right"></i></Button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
