---
import CardReason from "@components/shared/Cards/CardReason.astro";
---

<section class="directions-section about-section section">
  <h2 class="section-title">
    <span class="title-highlight">Nega Oliygoh</span> platformasini tanlashadi?
  </h2>
  <div class="grid grid-cols-3 gap-20">
    <div class="col-1">
      <CardReason icon="world-time">
        <Fragment slot="title">
          Istalgan joyda va qulay vaqtda o‘rganish
        </Fragment>
      </CardReason>
    </div>
    <div class="col-1">
      <CardReason icon="user-verified">
        <Fragment slot="title">
          Yuqori malakali o'qituvchilar ustozlik qilishadi
        </Fragment>
      </CardReason>
    </div>
    <div class="col-1">
      <CardReason icon="rocket">
        <Fragment slot="title">
          Darslarni tez va osonlik bilan o'rganish
        </Fragment>
      </CardReason>
    </div>
    <div class="col-1">
      <CardReason icon="computer-code">
        <Fragment slot="title">
          Kelajak kasbi bo‘lgan IT kurslarini to‘liq o‘rganish
        </Fragment>
      </CardReason>
    </div>
    <div class="col-1">
      <CardReason icon="video-lesson">
        <Fragment slot="title">
          Jahon standartlari asosida tuzilgan videodarslar
        </Fragment>
      </CardReason>
    </div>
    <div class="col-1">
      <CardReason icon="book-search">
        <Fragment slot="title">
          <span class="mr-10"> Faqat sinovdan o‘tgan sifatli darslar</span>
        </Fragment>
      </CardReason>
    </div>
  </div>
</section>
