.hero {
  @apply text-white p-40 rounded bg-primary-linear pr-120;
}

.hero-chips {
  @apply text-body-2 flex items-center transition py-10 px-15 border border-white rounded-full text-white hover:text-main-black hover:bg-white;
}

.hero-chips-wrapper {
  @apply flex flex-wrap gap-10;
}

.story {
  &__slider {
    width: 450px;
    height: 800px;
    border-radius: 6px;
    overflow: hidden;
  }

  &__wrapper {
  }

  &__slide {
    position: relative;

    video,
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__pagination {
    bottom: unset !important;
    top: 8px !important;
    display: flex;
    padding: 0 4px;

    .swiper-pagination-bullet {
      flex-grow: 1;
      border-radius: 100vh;
      height: 3px;
      margin: 0 2px !important;
      background-color: rgba($color: #f7f7f5, $alpha: 0.4);
      opacity: 1;

      .swiper-pagination-progress {
        height: 100%;
        width: 0%;
        border-radius: 100vh;
        background-color: #f7f7f5;
      }
    }
  }

  &__prev,
  &__next {
    height: 100%;
    width: 50%;
    top: 0;
    margin-top: 0;

    &::after {
      content: none;
    }
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }
}

.slidee-pagination {
  top: unset !important;
  width: unset !important;
  .swiper-pagination-progressbar-fill {
    @apply bg-white;
  }
}
