---
import Posts from "@components/blocks/Posts.astro";
import Button from "@components/shared/Button.astro";
---

<section class="blog-section section">
  <div class="section-header">
    <h2 class="section-title">
      Qiziqarli yangilik va <br /><span class="text-primary">maqolalar</span>
    </h2>
    <div class="features-slider-controls md:flex hidden">
      <a href="#!" class="btn btn-secondary font-medium">
        BARCHASI
        <svg class="icon w-6 ml-10">
          <use xlink:href="#icon-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
  <Posts />

  <a
    href="#!"
    class="btn btn-secondary font-medium md:hidden mt-20 justify-center">
    BARCHASI
    <svg class="icon w-6 ml-10">
      <use xlink:href="#icon-arrow-right"></use>
    </svg>
  </a>
</section>
