---
import Posts from "@components/blocks/Posts.astro";
import Button from "@components/shared/Button.astro";
---

<section class="blog-section section">
  <div class="section-header">
    <h2 class="section-title">
      Qiziqarli yangilik va <br /><span class="text-primary">maqolalar</span>
    </h2>
    <div class="features-slider-controls">
      <a href="#!" class="btn btn-secondary font-medium">
        BARCHASI
        <svg class="icon w-6 ml-10">
          <use xlink:href="#icon-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
  <Posts />
  <div class="lg:hidden flex">
    <a
      href="#!"
      class="btn btn-secondary font-medium mt-20 justify-center flex-grow">
      BARCHASI
      <svg class="icon w-6 ml-10">
        <use xlink:href="#icon-arrow-right"></use>
      </svg>
    </a>
  </div>
</section>
