---

---

<section class="contact-us mb-120">
  <div class="container-wrapper">
    <div class="contact-form flex justify-end px-60 relative z-10">
      <div class="p-30 w-[25rem] bg-white rounded border border-line">
        <div class="text-body-1 font-medium mb-30">
          Konsultatsiya olish uchun ro‘yxatdan o’ting:
        </div>
        <form action="" class="flex flex-col mb-20">
          <div class="flex border border-line rounded mb-15">
            <div class="p-10 border-r border-line leading-none">
              <svg class="icon w-6">
                <use xlink:href="#icon-user-star"></use>
              </svg>
            </div>
            <input
              type="text"
              placeholder="Ismingiz"
              class="text-body-2 placeholder:text-text-gray-2 !border-0 focus:ring-transparent px-20 py-10 w-full"
            />
          </div>
          <div class="flex border border-line rounded mb-30">
            <div class="p-10 border-r border-line leading-none">
              <svg class="icon w-6">
                <use xlink:href="#icon-phone"></use>
              </svg>
            </div>
            <input
              type="text"
              placeholder="Telefon raqamingiz"
              class="text-body-2 placeholder:text-text-gray-2 !border-0 focus:ring-transparent px-20 py-10 w-full"
            />
          </div>
          <button class="btn btn-primary justify-center">So‘rov Yuborish</button
          >
        </form>
        <p class="text-subtitle">
          So‘rov yuborish tugmasini bosish <a
            href="#!"
            class="text-primary underline hover:text-primary-hover">
            orqali platformadan foydalanish qoidalariga
          </a> rozilik bildirasiz.
        </p>
      </div>
    </div>
    <div class="card -mt-[14rem] relative">
      <div class="card-body p-60">
        <div class="w-1/2">
          <h2 class="h2 mb-15">
            Kurs tanlashga ikkilanyabsizmi yoki <span class="text-primary"
              >savollaringiz bormi?</span
            >
          </h2>
          <p class="text-text-gray">
            Hoziroq kontakt ma’lumotlaringizni qolding. Biz sizga kurs tanlashda
            va mavjud savollaringizga javob topishda yordam beramiz!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
