---
import ContactForm from "@components/blocks/ContactForm.astro";
import BottomAction from "@components/shared/BottomAction.astro";
---

<section class="contact-us section">
  <BottomAction>
    <div class="flex pr-120 flex-col" slot="left">
      <h2 class="h2 mb-15">
        Kurs tanlashga ikkilanyabsizmi yoki <span class="text-primary"
          >savollaringiz</span
        > bormi?
      </h2>
      <p class="text-text-gray text-body-2">
        Hoziroq kontakt ma’lumotlaringizni qolding. <br />Biz sizga kurs
        tanlashda va mavjud savollaringizga javob topishda yordam beramiz!
      </p>
    </div>
    <ContactForm slot="right" />
  </BottomAction>
</section>
