---
import ContactForm from "@components/blocks/ContactForm.astro";
import BottomAction from "@components/shared/BottomAction.astro";
---

<section class="contact-us section">
  <BottomAction>
    <div class="bottom-action-card__content" slot="left">
      <h2 class="title">
        Kurs tanlashga ikkilanyabsizmi yoki <span class="title-highlight"
          >savollaringiz</span
        > bormi?
      </h2>
      <p class="subtitle">
        Hoziroq kontakt ma’lumotlaringizni qolding. <br />Biz sizga kurs
        tanlashda va mavjud savollaringizga javob topishda yordam beramiz!
      </p>
    </div>
    <ContactForm slot="right" />
  </BottomAction>
</section>
