---
// images
import Button from "@components/shared/Button.astro";
import CoursesBlock from "@components/blocks/Courses.astro";
---

<section class="courses-section section">
  <div class="section-header">
    <h2 class="section-title">
      <span class="title-highlight">Kurslarimiz</span><br />bilan tanishing
    </h2>
    <div class="features-slider-controls md:flex gap-x-15 hidden">
      <a href="#!" class="btn btn-secondary font-medium">
        BARCHASI
        <svg class="icon w-6 ml-10">
          <use xlink:href="#icon-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
  <CoursesBlock />

  <a
    href="#!"
    class="btn btn-secondary font-medium md:hidden mt-20 justify-center">
    BARCHASI
    <svg class="icon w-6 ml-10">
      <use xlink:href="#icon-arrow-right"></use>
    </svg>
  </a>
</section>
