---
import SharedFAQ from "@components/sections/SharedFAQ.astro"
---

<SharedFAQ>
  <h2 class="section-title " slot="title">
    Tez-tez <br />beriladigan <span class="text-primary">savollar</span>
  </h2>
</SharedFAQ>
