---
import Accordion from "@components/shared/Accordion.astro";

---

<section class="faq-section mb-120">
  <div class="container-wrapper">
    <div class="flex mb-40 items-center">
      <h2 class="h2">
        Tez-tez <br />beriladigan<span class="text-primary">savollar</span>
      </h2>
    </div>
    <Accordion />
  </div>
</section>
