---
import Brand from "@components/shared/Brand.astro";

---

<footer class="footer bg-background border-t border-line">
  <div class="container-wrapper">
    <div class="row py-40 border-b border-line">
      <div class="col-1">
        <Brand />
        <p class="text-text-gray mt-15">
          Abituriyentlarga oliygohgacha bo‘lgan taʼlim beramiz
        </p>
      </div>
      <div class="col-3">
        <nav class="nav">
          <div class="nav__menu ml-auto">
            <a href="#!" class="nav__link">Kurslar</a>
            <a href="#!" class="nav__link">Blog</a>
            <a href="#!" class="nav__link">Biz haqimizda</a>
          </div>
        </nav>
      </div>
    </div>
    <div class="row pt-20 pb-40">
      <div class="col-2">
        <p class="text-text-gray text-subtitle">
          ©2023 Oliygoh — Barcha huquqlari himoyalangan.
        </p>
      </div>
      <div class="col-2">
        <div class="flex justify-end gap-40">
          <a
            href="#!"
            class="text-text-gray text-subtitle hover:text-main-black"
            >Maxfiylik siyosati</a
          >
          <a
            href="#!"
            class="text-text-gray text-subtitle hover:text-main-black"
            >Ommaviy oferta</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
