---
import Brand from "@components/shared/Brand.astro";
---

<footer class="footer">
  <div class="container-wrapper">
    <div class="row footer-upper-row">
      <div class="col-1">
        <Brand />
        <p class="footer-brand-text">
          Abituriyentlarga oliygohgacha bo‘lgan taʼlim beramiz
        </p>
      </div>
      <div class="col-3">
        <nav class="nav">
          <div class="nav__menu ml-auto">
            <a href="#!" class="nav__link">Kurslar</a>
            <a href="#!" class="nav__link">Blog</a>
            <a href="#!" class="nav__link">Biz haqimizda</a>
          </div>
        </nav>
      </div>
    </div>
    <div class="row footer-lower-row">
      <div class="col-2">
        <p class="footer-text">
          ©2023 Oliygoh — Barcha huquqlari himoyalangan.
        </p>
      </div>
      <div class="col-2">
        <div class="flex justify-end gap-40">
          <a
            href="#!"
            class="footer-text hover:text-main-black"
            >Maxfiylik siyosati</a
          >
          <a
            href="#!"
            class="footer-text hover:text-main-black"
            >Ommaviy oferta</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
