---
const { title } = Astro.props;
import "./../styles/scss/index.scss";
import Icons from "@components/blocks/Icons.astro";
import loginImg from "@assets/images/login.png";
import Scripts from "@components/blocks/Scripts.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/LucaCuello/Circular-Countdown-Template@95af10a/css/countdown.css"
    />
    <title>{title}</title>
  </head>
  <body class="body-full-h">
    <div class="login-wrapper">
      <div class="container-wrapper login-wrapper__container">
        <div class="row h-full">
          <div class="col-md-6">
            <slot />
          </div>
          <div class="col-md-6 hidden md:block">
            <div class="login-wrapper__bg">
              <img src={loginImg.src} class="login-wrapper__img" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <Icons />
    <Scripts />
  </body>
</html>
