---
import CardAdmin from "@components/shared/Cards/CardProfile.astro";
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
import CourseProgress from "@components/blocks/CourseProgress.astro";
import CardCourseOnline from "@components/shared/Cards/CardCourseOnline.astro";
import Pagination from "@components/shared/Pagination.astro";
import PaginationItem from "@components/shared/PaginationItem.astro";
---

<LayoutAdmin title="Shaxsiy kabinet" page="">
  <CardAdmin classes="card-min-h">
    <div class="row">
      <div class="col-2">
        <CardCourseOnline>
          <Fragment slot="subtitle">Abbos Fayzullayev</Fragment>
          <Fragment slot="title">
            HTML va CSS da dasturlashning boshlang‘ich ko‘nikmalari
          </Fragment>

          <CourseProgress slot="info" value="98" />
        </CardCourseOnline>
      </div>
      <div class="col-2">
        <CardCourseOnline>
          <Fragment slot="subtitle">Anvar Yoqubov</Fragment>
          <Fragment slot="title">Algebra fanidan 11-sinf ko‘nikmalari</Fragment>

          <CourseProgress slot="info" value="65" />
        </CardCourseOnline>
      </div>
      <div class="col-2">
        <CardCourseOnline>
          <Fragment slot="subtitle">Mirasl Mirkomilov</Fragment>
          <Fragment slot="title">
            Biologiya fanidan 11-sinf dasturi darslari
          </Fragment>

          <CourseProgress slot="info" value="56" />
        </CardCourseOnline>
      </div>
      <div class="col-2">
        <CardCourseOnline>
          <Fragment slot="subtitle">Izzat Abdulayev</Fragment>
          <Fragment slot="title">
            Rus tilidan to‘liq grammatika darslari
          </Fragment>

          <CourseProgress slot="info" value="43" />
        </CardCourseOnline>
      </div>
      <div class="col-2">
        <CardCourseOnline>
          <Fragment slot="subtitle">Ikrombek Izzatilayev</Fragment>
          <Fragment slot="title">
            UX/UI dizayning boshalang‘ich ko‘nikmalari kursi
          </Fragment>

          <CourseProgress slot="info" value="0" />
        </CardCourseOnline>
      </div>
      <div class="col-2">
        <CardCourseOnline>
          <Fragment slot="subtitle">Sardor Yusupov</Fragment>
          <Fragment slot="title">
            Jahon tarix bo‘yicha darslik to‘plami
          </Fragment>

          <CourseProgress slot="info" value="17" />
        </CardCourseOnline>
      </div>
    </div>
  </CardAdmin>

  <div  class="flex justify-end mt-20">
    <Pagination>
      <PaginationItem type="prev" />
      <PaginationItem active>01</PaginationItem>
      <PaginationItem>02</PaginationItem>
      <PaginationItem>...</PaginationItem>
      <PaginationItem>05</PaginationItem>
      <PaginationItem>06</PaginationItem>
      <PaginationItem type="next" />
    </Pagination>
  </div>
</LayoutAdmin>
