---
import PostHeader from "@components/blocks/PostHeader.astro";
import PostContent from "@components/blocks/PostContent.astro";
---

<div class="post-view">
  <PostHeader />
  <PostContent />
</div>
